<!--About Us-->
<section class="pb-0" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" id="about-aos-anchor">
        <div class="heading-area">
          <span
            data-aos-anchor="#about-aos-anchor"
            data-aos="fade-up"
            class="sub-title"
            >{{ 'about.preTitle' | translate }}</span
          >
          <h2
            data-aos-anchor="#about-aos-anchor"
            data-aos="fade-up"
            class="title"
            data-aos-delay="400"
          >
            {{ 'about.title.before' | translate }}
            <span class="alt-color js-rotating"
              >{{ 'about.title.words' | translate }}
            </span>
            {{ 'about.title.after' | translate }}
          </h2>
          <!-- <p
            data-aos-anchor="#about-aos-anchor"
            class="para"
            data-aos="fade-up"
            data-aos-delay="800"
          >
            {{ 'about.description' | translate }}
          </p> -->
          <div
            data-aos-anchor="#about-aos-anchor"
            data-aos="fade-up"
            data-aos-delay="1200"
          >
            <a
              class="btn btn-large btn-rounded btn-pink btn-hvr-blue mt-3"
              href="javascript:void(0);"
              data-toggle="modal"
              data-target="#about_modal"
              >{{ 'shared.learnMore' | translate }}
              <div class="btn-hvr-setting">
                <ul class="btn-hvr-setting-inner">
                  <li class="btn-hvr-effect"></li>
                  <li class="btn-hvr-effect"></li>
                  <li class="btn-hvr-effect"></li>
                  <li class="btn-hvr-effect"></li>
                </ul>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div
        class="col-lg-5 offset-lg-1"
        data-aos-anchor="#about-aos-anchor"
        data-aos="fade-left"
        data-aos-delay="1200"
      >
        <div class="half-img mt-5 pt-4 mt-lg-0 pt-lg-0">
          <img
            class="animated-img"
            alt="vector"
            src="/assets/icons/index.svg"
            style="width: 70%;"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!--About Us End-->

<app-modal
  title="{{ 'about.modal.title' | translate }}"
  text="{{ 'about.modal.text' | translate }}"
  image="/assets/screenshots/modal_intro.png"
  id="about_modal"
></app-modal>
