<!--Footer Start-->
<footer class="footer-style-1 bg-light">
  <div class="container">
    <div class="row align-items-center">
      <!--Social-->
      <div class="col-md-1">
        <div
          class="footer-social"
          style="display: flex; justify-content: center"
        >
          <a href="https://www.linkedin.com/company/37554102/" target="_blank"
            ><i aria-hidden="true" class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
      <!-- <div
        class="col-md-5 d-flex"
        style="align-items: center; justify-content: center;"
      >
        <p
          (click)="onSetLang('sk')"
          style="margin: 0; margin-left: 10px; margin-right: 10px; cursor: pointer;"
        >
          {{ 'shared.languageShortcuts.sk' | translate }}
        </p>
        <p
          (click)="onSetLang('en')"
          style="margin: 0; margin-left: 10px; margin-right: 10px; cursor: pointer;"
        >
          {{ 'shared.languageShortcuts.en' | translate }}
        </p>
        <p
          (click)="onSetLang('cs')"
          style="margin: 0; margin-left: 10px; margin-right: 10px; cursor: pointer;"
        >
          {{ 'shared.languageShortcuts.cz' | translate }}
        </p>
        <p
          (click)="onSetLang('de')"
          style="margin: 0; margin-left: 10px; margin-right: 10px; cursor: pointer;"
        >
          {{ 'shared.languageShortcuts.de' | translate }}
        </p>
        <p
          (click)="onSetLang('fr')"
          style="margin: 0; margin-left: 10px; margin-right: 10px; cursor: pointer;"
        >
          {{ 'shared.languageShortcuts.fr' | translate }}
        </p>
      </div> -->
      <!--Text-->
      <div class="col-md-6 text-md-right">
        <p class="company-about fadeIn">
          {{ 'footer.copyright' | translate }}
          <a href="javascript:void(0);">{{ 'footer.madeBy' | translate }} </a>
        </p>

        
      </div>
    </div>
  </div>
</footer>
<!--Footer End-->
