<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span class="grid-container">OpenAPI 2.0 Path Generator</span>
    </mat-toolbar>
    <!-- Add Content Here -->

    <div
      class="container-fluid"
      style="padding: 20px; min-height: calc(100vh - 64px);"
    >
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <mat-card class="dashboard-card mt-4">
            <mat-card-header>
              <mat-card-title>
                Swagger Error
              </mat-card-title>
            </mat-card-header>
            <mat-card-content style="padding: 15px;">
              <p>Can not load swagger file at URL</p>
              <a href="http://be.localhost/public/swagger.json" target="_blank"
                ><button mat-raised-button>
                  be.localhost/public/swagger.json
                </button></a
              >

              <br /><br /><br />
              <button mat-raised-button [routerLink]="['/']" color="primary">
                Try Again
              </button>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
