<div>
  <img
    class="h-12 w-auto block dark:hidden"
    src="/assets/logo/full_dark.svg"
    alt="Hiroo logo"
  />

  <img
    class="h-12 w-auto hidden dark:block"
    src="/assets/logo/full_light.svg"
    alt="Hiroo logo"
  />
  <h2
    class="mt-6 text-3xl font-extrabold text-gray-900 dark:text-gray-100"
    i18n="company_forgotpass - form title@@soa1fSo"
  >
    Recover your password
  </h2>
  <p class="mt-2 text-sm text-gray-600 dark:text-gray-400 max-w">
    <span i18n="company_login - form redirect to register prefix@@so9WZob"
      >Or</span
    >
    <a
      [routerLink]="['/' + LangRoutes.auth + '/' + LangRoutes.login]"
      class="font-medium text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 dark:hover:text-indigo-500"
      i18n="company_forgotpass - form redirect to login@@so9ZPqH"
    >
      go back to login page
    </a>
  </p>
</div>

<div class="mt-8">
  <div class="mt-6">
    <form action="#" method="POST" class="space-y-6">
      <div>
        <div class="rounded-md bg-blue-50 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <svg
                class="h-5 w-5 text-blue-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <div class="ml-3 flex-1 md:flex md:justify-between">
              <p
                class="text-sm text-blue-700"
                i18n="company_forgotpass - alert text@@so9ZWlk"
              >
                This formular is for the company. If you are HR specialist and
                forgot your password, please visit the company domain to reset
                your password.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="space-y-1">
        <label
          for="email"
          class="block text-sm font-medium text-gray-700 dark:text-gray-200"
          i18n="company_login - input name@@so9X6jq"
        >
          Company domain <span class="text-red-500 text-md">*</span>
        </label>
        <div class="mt-1 flex">
          <div
            class="dark:border-gray-600 dark:bg-gray-900 dark:text-gray-100 p-2 flex items-center justify-center rounded-r-none border-r-0 rounded-md border border-gray-300 shadow-sm text-gray-500 text-xs"
          >
            <!-- does not require translation -->
            <span>https://</span>
          </div>
          <input
            id="email"
            name="email"
            type="email"
            autocomplete="email"
            required
            class="appearance-none block w-full px-3 py-2 border dark:border-gray-600 dark:bg-gray-900 dark:text-gray-100 border-gray-300 shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />

          <div
            class="dark:border-gray-600 dark:bg-gray-900 dark:text-gray-100 p-2 flex items-center justify-center rounded-l-none border-l-0 rounded-md border border-gray-300 shadow-sm text-gray-500 text-xs"
          >
            <!-- does not require translation -->
            <span>.hiroo.eu</span>
          </div>
        </div>
      </div>

      <div class="space-y-1">
        <label
          for="email"
          class="block text-sm font-medium text-gray-700 dark:text-gray-200"
          i18n="company_login - input name@@so9X7u2"
        >
          Email address <span class="text-red-500 text-md">*</span>
        </label>
        <div class="mt-1">
          <input
            id="email"
            name="email"
            type="email"
            autocomplete="email"
            required
            class="appearance-none block w-full px-3 py-2 border dark:border-gray-600 dark:bg-gray-900 dark:text-gray-100 border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
      </div>

      <div>
        <button
          i18n="company_forgotpass - submit button@@soa04nd"
          type="submit"
          class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-indigo-500"
        >
          Recover password
        </button>
      </div>
    </form>
  </div>
</div>
