<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button
        type="button"
        style="margin-top: 5px;"
        class="btn btn-primary btn-lg btn-block"
        (click)="onNewInterview()"
      >
        Create new Interview
      </button>

      <div class="card" style="margin-top: 15px;">
        <div
          class="media media-2x1"
          [ngClass]="['gd-success']"
          style="
            height: 10px;
            border-radius: 0px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          "
        ></div>
        <div class="card-body" style="padding: 50px; padding-top: 40px;">
          <h1 class="text-hybrid">Calendar</h1>
          <hr />
          <full-calendar
            (eventClick)="onClick($event)"
            [eventTimeFormat]="eventTimeFormat"
            [events]="events"
            [buttonText]="buttonText"
            [header]="header"
            [themeSystem]="'bootstrap'"
            defaultView="dayGridMonth"
            [height]="500"
            [plugins]="calendarPlugins"
          ></full-calendar>
          <hr />
          <div class="d-flex align-items-center">
            <h3 style="margin-right: 25px;">
              <span class="badge badge-info">Interview Start</span>
            </h3>
            Interview will start and candidates can submit results.
          </div>
          <div class="d-flex align-items-center">
            <h3 style="margin-right: 25px;">
              <span class="badge badge-danger">Interview Reminder</span>
            </h3>
            Candidates will be reminded they need to submit results.
          </div>
          <div class="d-flex align-items-center">
            <h3 style="margin-right: 25px;">
              <span class="badge badge-success">Interview End</span>
            </h3>
            Interview will end and you can review cancidate results.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
