<div
  class="bg-white dark:bg-gray-900 pt-16 px-4 overflow-hidden sm:px-6 lg:px-8 lg:pt-24 page-contact"
>
  <div class="relative max-w-xl mx-auto">
    <svg
      class="absolute left-full transform translate-x-1/2"
      width="404"
      height="404"
      fill="none"
      viewBox="0 0 404 404"
      aria-hidden="true"
    >
      <defs>
        <pattern
          id="85737c0e-0916-41d7-917f-596dc7edfa27"
          x="0"
          y="0"
          width="20"
          height="20"
          patternUnits="userSpaceOnUse"
        >
          <rect
            x="0"
            y="0"
            width="4"
            height="4"
            class="text-gray-200 dark:text-gray-700"
            fill="currentColor"
          />
        </pattern>
      </defs>
      <rect
        width="404"
        height="404"
        fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)"
      />
    </svg>
    <svg
      class="absolute right-full bottom-0 transform -translate-x-1/2"
      width="404"
      height="404"
      fill="none"
      viewBox="0 0 404 404"
      aria-hidden="true"
    >
      <defs>
        <pattern
          id="85737c0e-0916-41d7-917f-596dc7edfa27"
          x="0"
          y="0"
          width="20"
          height="20"
          patternUnits="userSpaceOnUse"
        >
          <rect
            x="0"
            y="0"
            width="4"
            height="4"
            class="text-gray-200 dark:text-gray-700"
            fill="currentColor"
          />
        </pattern>
      </defs>
      <rect
        width="404"
        height="404"
        fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)"
      />
    </svg>
    <div class="text-center">
      <h2
        class="text-3xl font-extrabold tracking-tight dark:text-gray-50 text-gray-900 sm:text-4xl"
        i18n="contact_component - title@@snvEXSc"
      >
        Contact us to get started
      </h2>
      <p
        class="mt-4 text-lg leading-6 text-gray-500 dark:text-gray-300"
        i18n="contact_component - description@@snvEYaQ"
      >
        We prefer communication over limited demo version so please let us know
        and we will schedule a call to answer all of your questions and show you
        the platform.
      </p>
    </div>
    <div class="mt-12">
      <form
        action="https://formsubmit.co/f165bff7d75c36648b6ff43a80d5aec3"
        method="POST"
        class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8"
      >
        <div>
          <label
            for="first_name"
            class="block text-sm font-medium text-gray-700 dark:text-gray-300"
            i18n="contact_component - input label@@snvF81Z"
            >First name</label
          >
          <div class="mt-1">
            <input
              type="text"
              name="first_name"
              id="first_name"
              autocomplete="given-name"
              class="dark:text-white dark:bg-gray-800 dark:border-gray-700 py-3 px-4 block w-full shadow-sm focus:ring-orange-500 focus:border-orange-500 border-gray-300 rounded-md"
            />
          </div>
        </div>
        <div>
          <label
            for="last_name"
            class="block text-sm font-medium text-gray-700 dark:text-gray-300"
            i18n="contact_component - input label@@snvF8jn"
            >Last name</label
          >
          <div class="mt-1">
            <input
              type="text"
              name="last_name"
              id="last_name"
              autocomplete="family-name"
              class="dark:text-white dark:bg-gray-800 dark:border-gray-700 py-3 px-4 block w-full shadow-sm focus:ring-orange-500 focus:border-orange-500 border-gray-300 rounded-md"
            />
          </div>
        </div>
        <div class="sm:col-span-2">
          <label
            for="company"
            class="block text-sm font-medium text-gray-700 dark:text-gray-300"
            i18n="contact_component - input label@@snvF8C5"
            >Company</label
          >
          <div class="mt-1">
            <input
              type="text"
              name="company"
              id="company"
              autocomplete="organization"
              class="dark:text-white dark:bg-gray-800 dark:border-gray-700 py-3 px-4 block w-full shadow-sm focus:ring-orange-500 focus:border-orange-500 border-gray-300 rounded-md"
            />
          </div>
        </div>
        <div class="sm:col-span-2">
          <label
            for="email"
            class="block text-sm font-medium text-gray-700 dark:text-gray-300"
            i18n="contact_component - input label@@snvF9dB"
            >Email</label
          >
          <div class="mt-1">
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              class="dark:text-white dark:bg-gray-800 dark:border-gray-700 py-3 px-4 block w-full shadow-sm focus:ring-orange-500 focus:border-orange-500 border-gray-300 rounded-md"
            />
          </div>
        </div>
        <div class="sm:col-span-2">
          <label
            for="phone_number"
            class="block text-sm font-medium text-gray-700 dark:text-gray-300"
            i18n="contact_component - input label@@snvF9Sv"
            >Phone Number</label
          >
          <div class="mt-1 relative rounded-md shadow-sm">
            <input
              type="text"
              name="phone_number"
              id="phone_number"
              autocomplete="tel"
              class="dark:text-white dark:bg-gray-800 dark:border-gray-700 py-3 px-4 block w-full focus:ring-orange-500 focus:border-orange-500 border-gray-300 rounded-md"
            />
          </div>
        </div>
        <div class="sm:col-span-2">
          <label
            for="message"
            class="block text-sm font-medium text-gray-700 dark:text-gray-300"
            i18n="contact_component - input label@@snvFb4S"
            >Message</label
          >
          <div class="mt-1">
            <textarea
              id="message"
              name="message"
              rows="4"
              class="dark:text-white dark:bg-gray-800 dark:border-gray-700 py-3 px-4 block w-full shadow-sm focus:ring-orange-500 focus:border-orange-500 border-gray-300 rounded-md"
            ></textarea>
          </div>
        </div>
        <div class="sm:col-span-2">
          <button
            type="submit"
            i18n="contact_component - submit button@@snvFbD0"
            class="w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"
          >
            Let's talk
          </button>
        </div>

        <div class="sm:col-span-2">
          <div
            class="px-4 py-6 sm:px-10 w-full flex justify-center items-center"
          >
            <p
              class="text-xs leading-5 text-gray-500 dark:text-gray-300"
              i18n="contact_component - agreements text@@soCTirG"
            >
              By sending message, you agree to our

              <a
                href="https://www.legito.cz/en/souhlas-s-poskytnutim-osobnich-udaju"
                class="font-medium dark:text-gray-50 text-gray-900 hover:underline"
                >Data Policy</a
              >

              and
              <a
                href="https://www.legito.cz/souhlas-s-pouzitim-souboru-cookies"
                class="font-medium dark:text-gray-50 text-gray-900 hover:underline"
                >Cookies Policy</a
              >.
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
