<section id="thank-you" class="thank-you-section">
  <div class="container thank-you-container">
    <div class="thank-you-wrapper position-relative thank-wrapper-style-two">
      <!-- <div class="thank-you-close text-center">x</div> -->
      <div class="thank-txt text-center">
        <div class="text-area-thank">
          <div class="thank-icon">
            <img src="/assets/popup/img/infoimg.png" alt="" />
          </div>
          <h1>{{ 'inviteCancelPage.title' | translate }}</h1>
          <p>{{ 'inviteCancelPage.subtitle' | translate }}</p>
        </div>
      </div>
      <div class="thank-txt-part2">
        <p>
          {{ 'inviteCancelPage.text' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
