<body class="layout-row">
  <div class="d-flex flex-column flex">
    <div class="row no-gutters h-100" style="background-color: #191f3a;">
      <app-auth-left
        class="d-none d-md-block d-lg-block d-xl-block col-md-6 bg-primary"
      ></app-auth-left>

      <div class="col-md-6">
        <div id="content-body">
          <div class="p-3 p-md-5" *ngIf="isValid === null">
            <h5>Loading..</h5>
          </div>

          <div class="p-3 p-md-5" *ngIf="isValid === false">
            <h5>Whoops!</h5>
            <small class="text-muted"> This link is no longer valid :(</small>
            <br /><br />
            <button
              [routerLink]="['/company-forgot-password']"
              type="button"
              class="btn btn-primary mb-4"
            >
              Reset Password Again
            </button>
          </div>
          <div class="p-3 p-md-5" *ngIf="isValid === true">
            <h5>Forgot your password?</h5>
            <p>
              <small class="text-muted">
                Its fine! Everyone does sometime. Just enter new one in boxes
                bellow and smile.</small
              >
            </p>

            <form
              class=""
              role="form"
              (submit)="
                submitRequest(
                  $event,
                  forgotPassword.value,
                  forgotPassword2.value
                )
              "
            >
              <div class="form-group">
                <label>New password</label>
                <input
                  #forgotPassword
                  type="password"
                  class="form-control"
                  placeholder="New password again"
                  required
                />
              </div>
              <div class="form-group">
                <label>New password</label>
                <input
                  #forgotPassword2
                  type="password"
                  class="form-control"
                  placeholder="New password again"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary mb-4">
                Change Password
              </button>
              <div>
                Return to
                <a [routerLink]="['/company-login']" class="text-primary"
                  >Sign in</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
