<div>
  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <div class="text-center p-5" style="padding-top: 0px !important;">
        <h2 class="text-highlight">Overview</h2>
      </div>

      <div class="alert alert-info" role="alert">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-info"
        >
          <circle cx="12" cy="12" r="10"></circle>
          <line x1="12" y1="16" x2="12" y2="12"></line>
          <line x1="12" y1="8" x2="12" y2="8"></line>
        </svg>
        <span class="mx-2"
          >This website is still in beta testing, purchasing tokens will give
          you balance immediately and wont require you to pay for it.</span
        >
      </div>
      <div class="row">
        <div class="col-md-4 d-flex">
          <div
            class="card flex"
            data-sr-id="10"
            style="
              visibility: visible;
              transform: none;
              opacity: 1;
              transition: none 0s ease 0s;
            "
          >
            <div class="card-body">
              <div class="d-flex align-items-center text-hover-success">
                <div class="avatar w-56 m-2 no-shadow gd-success">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-dollar-sign"
                  >
                    <line x1="12" y1="1" x2="12" y2="23"></line>
                    <path
                      d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"
                    ></path>
                  </svg>
                </div>
                <div class="px-4 flex">
                  <div>You currently have</div>
                  <div class="text-success mt-2">
                    {{ balance }} {{ balance === 1 ? 'Token' : 'Tokens' }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8 d-flex" *ngIf="usageStats">
          <div
            class="card flex"
            data-sr-id="11"
            style="
              visibility: visible;
              transform: none;
              opacity: 1;
              transition: none 0s ease 0s;
            "
          >
            <div class="card-body">
              <div class="row row-sm">
                <div class="col-sm-12">
                  <div class="mb-2">
                    <small class="text-muted">Usage statistics</small>
                  </div>
                  <div class="row row-sm">
                    <div class="col-3" *ngFor="let stat of usageStats">
                      <div
                        [ngClass]="stat.isRed ? ['text-danger'] : []"
                        class="text-md"
                      >
                        - {{ stat.amount | number: '1.4-4' }}
                      </div>
                      <small> {{ stat.text }} </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center p-5">
        <h2 class="text-highlight">Add Funds</h2>
      </div>

      <div class="text-center">
        <div class="block d-inline-flex">
          <div class="p-4 p-sm-5 b-r" style="margin: 0.7rem !important;">
            <span class="h1">10</span>
            <sup class="text-sm" style="top: -0.5em;">€</sup>
            <br /><br />
            <div class="text-muted">Tiny<br />Package</div>
            <br />
            <small class="text-success">
              10 Tokens
            </small>
            <div class="py-4">
              <a
                (click)="purchasePackage('tiny')"
                class="btn btn-sm btn-rounded btn-primary text-white"
                >Purchase</a
              >
            </div>
            <small class="text-muted">Interview <br />10 people</small>
          </div>
          <div class="p-4 p-sm-5 b-r" style="margin: 0.7rem !important;">
            <span class="h1">25</span>
            <sup class="text-sm" style="top: -0.5em;">€</sup>
            <br /><br />
            <div class="text-muted">Small<br />Package</div>
            <br />
            <small class="text-success">
              25 Tokens
            </small>
            <div class="py-4">
              <a
                (click)="purchasePackage('small')"
                class="btn btn-sm btn-rounded btn-primary text-white"
                >Purchase</a
              >
            </div>
            <small class="text-muted">Interview <br />25 people</small>
          </div>
          <div class="p-4 p-sm-5 b-r" style="margin: 0.7rem !important;">
            <span class="h1">50</span>
            <sup class="text-sm" style="top: -0.5em;">€</sup>
            <br /><br />
            <div class="text-muted">Medium<br />Package</div>
            <br />
            <small class="text-success">
              60 Tokens
            </small>
            <div class="py-4">
              <a
                (click)="purchasePackage('medium')"
                class="btn btn-sm btn-rounded btn-primary text-white"
                >Purchase</a
              >
            </div>
            <small class="text-muted">Interview <br />60 people</small>

            <hr />
            <br />
            <br />
            <p style="color: #ffc107;">10 Tokens Free</p>
          </div>
          <div class="p-4 p-sm-5 b-r" style="margin: 0.7rem !important;">
            <span class="h1">100</span>
            <sup class="text-sm" style="top: -0.5em;">€</sup>
            <br /><br />
            <div class="text-muted">Big<br />Package</div>
            <br />
            <small class="text-success">
              125 Tokens
            </small>
            <div class="py-4">
              <a
                (click)="purchasePackage('big')"
                class="btn btn-sm btn-rounded btn-primary text-white"
                >Purchase</a
              >
            </div>
            <small class="text-muted">Interview <br />125 people</small>
            <hr />
            <br />
            <br />
            <p style="color: #ffc107;">25 Tokens Free</p>
          </div>
          <div class="p-4 p-sm-5 b-r" style="margin: 0.7rem !important;">
            <span class="h1">250</span>
            <sup class="text-sm" style="top: -0.5em;">€</sup>
            <br /><br />
            <div class="text-muted">Large<br />Package</div>
            <br />
            <small class="text-success">
              300 Tokens
            </small>
            <div class="py-4">
              <a
                (click)="purchasePackage('large')"
                class="btn btn-sm btn-rounded btn-primary text-white"
                >Purchase</a
              >
            </div>
            <small class="text-muted">Interview <br />300 people</small>
            <hr />
            <br />
            <br />
            <p style="color: #ffc107;">50 Tokens Free</p>
          </div>
        </div>
      </div>
      <div class="p-5 text-center">
        By purchasing tokens you agree to our terms.
      </div>
    </div>
  </div>
</div>
<!-- ############ Main END-->
