<div class="posCenter container-fluid">
  <div class="row" style="width: 100%">
    <div
      class="centerWrapper block col-md-6 offset-md-3"
      style="background-color: #1c233f"
    >
      <div class="row" style="width: 100%">
        <div class="col-md-6 b-r hrset">
          <span class="h1">Existing Company</span>
          <div class="text-muted">Log into an existing comapny</div>
          <div class="py-4">
            <a
              class="btn btn-sm btn-rounded btn-primary"
              [routerLink]="['login']"
              >Login</a
            >
          </div>
        </div>
        <div class="col-md-6 htset">
          <span class="h1">New Company </span>
          <div class="text-muted">Register your company and start hiring</div>
          <div class="py-4">
            <a
              class="btn btn-sm btn-rounded btn-primary"
              [routerLink]="['register']"
              >Register</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
