<!--Blog Start-->
<section class="bg-light" id="pricing2" style="padding-top: 0 ;">
    <div class="container">
      <!--Row-->
      <div class="row" id="blog-n2-aos-anchor">
        <div class="col-md-12 text-center">
          <div class="heading-area mx-570 pb-lg-5 mb-5">
            <span
              data-aos-anchor="#blog-n2-aos-anchor"
              data-aos="fade-up"
              class="sub-title"
              >{{ 'blog.calc.preTitle' | translate }}</span
            >
            <h2
              data-aos-anchor="#blog-n2-aos-anchor"
              data-aos="fade-up"
              data-aos-delay="400"
              class="title mb-0"
            >
              {{ 'blog.calc.title.before' | translate }}
              <span class="alt-color js-rotating">{{
                'blog.calc.title.words' | translate
              }}</span>
              {{ 'blog.calc.title.after' | translate }}
            </h2>
          </div>
        </div>
      </div>
      <!--Row-->
      <div class="row" id="blog-n3-aos-anchor">
        <!--News Item-->
        <div
          class="col-lg-5"
          data-aos-anchor="#blog-n3-aos-anchor"
          data-aos="fade-right"
        >
          <div class="news-item">
            <div class="news-text-box">
              <div
                class="date main-color text-center"
                style="text-align: center; margin-bottom: 20px"
              >
                {{ 'blog.calc.howItWorks' | translate }}
              </div>
  
              <p>{{ 'blog.calc.text1' | translate }}</p>
              <p>{{ 'blog.calc.text2' | translate }}</p>
              <p>{{ 'blog.calc.text3' | translate }}</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-7">
          <div
            class="news-item"
            data-aos-anchor="#blog-n3-aos-anchor"
            data-aos="fade-left"
            data-aos-delay="400"
          >
            <div class="gradient-bg2 news-text-box" style="color: white">
              <label>
                {{ 'blog.calc.type' | translate }}
              </label>
              <select class="form-control" [(ngModel)]="currentPlan">
                <option value="plan1">
                  {{ 'blog.plans.plan1.title' | translate }}
                </option>
                <option value="plan2">
                  {{ 'blog.plans.plan2.title' | translate }}
                </option>
                <option value="plan3">
                  {{ 'blog.plans.plan3.title' | translate }}
                </option>
              </select>
              <label>
                {{ 'blog.calc.jobs' | translate: { amount: jobs } }}
              </label>
              <input
              style="border: none;"
                [(ngModel)]="jobs"
                type="range"
                class="custom-range"
                min="1"
                max="20"
                step="1"
              />
  
              <label>{{
                'blog.calc.questions' | translate: { amount: questions }
              }}</label>
              <input
              style="border: none;"
                [(ngModel)]="questions"
                type="range"
                class="custom-range"
                min="1"
                max="20"
                step="1"
              />
  
              <label>{{
                'blog.calc.seconds' | translate: { amount: seconds }
              }}</label>
              <input
              style="border: none;"
                [(ngModel)]="seconds"
                type="range"
                class="custom-range"
                min="1"
                max="600"
                step="1"
              />
  
              <label>{{
                'blog.calc.candidates' | translate: { amount: candidates }
              }}</label>
              <input
              style="border: none;"
                [(ngModel)]="candidates"
                type="range"
                class="custom-range"
                min="1"
                max="50"
                step="1"
              />
  
              <div style="text-align: center">
                <i>
                  {{ 'blog.calc.mathExplained' | translate }}
                </i>
              </div>
            </div>
          </div>
  
          <div
            class="news-item"
            style="margin-top: 30px"
            data-aos-anchor="#blog-n3-aos-anchor"
            data-aos="fade-left"
            data-aos-delay="400"
          >
            <div
              class="gradient-bg2 news-text-box"
              style="color: white; width: 100%; padding: 40px"
            >
              <div
                style="text-align: center; margin-bottom: 20px; margin-top: -20px"
              >
                <span style="font-size: 18px"
                  >{{ 'blog.calc.price' | translate }}:</span
                >
              </div>
              <div
                style="
                  text-align: center;
                  display: flex;
                  align-items: flex-start;
                  justify-content: center;
                "
              >
                <span
                  style="
                    font-size: 64px;
                    display: flex;
                    align-items: flex-end;
                    font-weight: bolder;
                  "
                >
                  {{
                    getSecondPrice() * seconds * questions * candidates * jobs
                      | number: '1.2-2'
                  }}
                  <span style="font-size: 24px; margin-bottom: -15px">
                    {{ 'shared.currency' | translate }}
                  </span>
                </span>
              </div>
            </div>
          </div>
  
          <div
            class="news-item"
            style="margin-top: 30px"
            data-aos-anchor="#blog-n3-aos-anchor"
            data-aos="fade-left"
            data-aos-delay="400"
          >
            <div
              class="gradient-bg3 news-text-box"
              style="color: white; width: 100%; padding: 40px"
            >
              <div
                style="text-align: center; margin-bottom: 20px; margin-top: -20px"
              >
                <span style="font-size: 18px"
                  >{{ 'blog.calc.youHaveSaved' | translate }}:</span
                >
              </div>
              <div
                style="
                  text-align: center;
                  display: flex;
                  align-items: flex-start;
                  justify-content: center;
                "
              >
                <span
                  style="
                    font-size: 64px;
                    display: flex;
                    align-items: flex-end;
                    font-weight: bolder;
                  "
                >
                  {{
                    0.7 *
                      (getSecondPrice() * seconds * questions * candidates * jobs)
                      | number: '1.2-2'
                  }}
                  <span style="font-size: 24px; margin-bottom: -15px">
                    {{ 'shared.currency' | translate }}
                  </span>
                </span>
              </div>
  
              <div
                style="
                  color: rgba(255, 255, 255, 0.7);
                  text-align: center;
                  margin-bottom: -20px;
                  margin-top: 20px;
                "
              >
                <span style="font-size: 16px">{{
                  'blog.calc.comparedToNormalMethod' | translate
                }}</span>
              </div>
  
              <!-- <div class="marker">- 70%</div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Blog End-->