<div>
  <div class="page-hero page-container" id="page-hero">
    <div class="padding d-flex">
      <div class="page-title">
        <h2 class="text-md text-highlight">Settings</h2>
        <small class="text-muted">Configure your account</small>
      </div>
    </div>
  </div>
  <div
    class="page-content page-container"
    id="page-content"
    *ngIf="companyData !== null"
  >
    <div class="padding">
      <div id="accordion">
        <p class="text-muted">
          <strong>Company</strong>
        </p>
        <div class="card">
          <div class="d-flex align-items-center px-4 py-3 b-t">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-briefcase"
            >
              <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
              <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
            </svg>
            <div class="px-3">
              <div>Company Name</div>
              <div class="text-sm text-muted">{{ companyData.name }}</div>
            </div>
          </div>

          <div class="d-flex align-items-center px-4 py-3 b-t">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-at-sign"
            >
              <circle cx="12" cy="12" r="4"></circle>
              <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path>
            </svg>
            <div class="px-3">
              <div>Company Email</div>
              <div class="text-sm text-muted">{{ companyData.email }}</div>
            </div>
          </div>

          <!-- <div class="d-flex align-items-center px-4 py-3 b-t">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-home"
            >
              <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
              <polyline points="9 22 9 12 15 12 15 22"></polyline>
            </svg>
            <div class="px-3">
              <div>Company ICO</div>
              <div class="text-sm text-muted">{{ companyData.ico }}</div>
            </div>
          </div> -->

          <div class="d-flex align-items-center px-4 py-3 b-t">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-link-2"
            >
              <path
                d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"
              ></path>
              <line x1="8" y1="12" x2="16" y2="12"></line>
            </svg>
            <div class="px-3">
              <div>Company Domain</div>
              <div class="text-sm text-muted">
                http://{{ companyData.domain }}.eteambuilder.com
              </div>
            </div>
          </div>

          <div
            class="d-flex align-items-center px-4 py-3 b-t pointer"
            data-toggle="collapse"
            data-parent="#accordion"
            data-target="#c_2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-lock"
            >
              <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
              <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
            </svg>
            <div class="px-3">
              <div>Password</div>
            </div>
            <div class="flex"></div>
            <div aria-label="Update Password" data-balloon-pos="up">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-chevron-right"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </div>
          </div>
          <div class="collapse p-4" id="c_2">
            <div role="form">
              <form
                (submit)="
                  updatePass(
                    $event,
                    changePassOld.value,
                    changePassNew.value,
                    changePassNewAgain.value
                  )
                "
              >
                <div class="form-group">
                  <label>Current Password</label>
                  <input #changePassOld type="password" class="form-control" />
                </div>
                <div class="form-group">
                  <label>New Password</label>
                  <input #changePassNew type="password" class="form-control" />
                </div>
                <div class="form-group">
                  <label>New Password Again</label>
                  <input
                    #changePassNewAgain
                    type="password"
                    class="form-control"
                  />
                </div>
                <button type="submit" class="btn btn-primary mt-2">
                  Update
                </button>
              </form>
            </div>
          </div>
        </div>

        <p class="text-muted">
          <strong>Extra Info</strong>
        </p>
        <div class="card">
          <div class="d-flex align-items-center px-4 py-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-calendar"
            >
              <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
              <line x1="16" y1="2" x2="16" y2="6"></line>
              <line x1="8" y1="2" x2="8" y2="6"></line>
              <line x1="3" y1="10" x2="21" y2="10"></line>
            </svg>
            <div style="margin-left: 15px">Plan:</div>
            <div style="margin-left: 15px">
              <strong>{{ companyData.plan }}</strong>
            </div>

            <div class="flex"></div>
            <div>
              <a
                [routerLink]="['/company', 'plan']"
                class="btn btn-sm btn-rounded btn-primary btn-block text-white"
                >Upgrade</a
              >
            </div>
          </div>
          <div class="d-flex align-items-center px-4 py-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-dollar-sign"
            >
              <line x1="12" y1="1" x2="12" y2="23"></line>
              <path
                d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"
              ></path>
            </svg>
            <div style="margin-left: 15px">Tokens:</div>
            <div style="margin-left: 15px">
              <strong>{{ companyData.tokens }} Tokens</strong>
            </div>

            <div class="flex"></div>
            <div>
              <a
                [routerLink]="['/company', 'tokens']"
                class="btn btn-sm btn-rounded btn-success btn-block text-white"
                >Purchase</a
              >
            </div>
          </div>
        </div>

        <!-- <p class="text-muted">
          <strong>Extra Settings</strong>
        </p>
        <div class="card">
          <div class="d-flex align-items-center px-4 py-3">
            <div>Dark Theme</div>
            <div class="flex"></div>
            <span>
              <label class="ui-switch ui-switch-md">
                <input type="checkbox" />
                <i></i>
              </label>
            </span>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
