<!--Client Map-->
<section class="gradient-bg2" id="client">
  <h2 class="d-none">hidden</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--Client Slider-->
        <div class="owl-carousel partners-slider">
          <!--Item-->
          <div class="logo-item">
            <img src="/assets/technologies/google-cloud.webp" alt="" />
          </div>

          <div class="logo-item">
            <img src="/assets/technologies/technicom.png" alt="" />
          </div>

          <div class="logo-item">
            <img src="/assets/technologies/angular.svg" alt="" />
          </div>
          <!--Item-->
          <div class="logo-item">
            <img src="/assets/technologies/mysql.png" alt="" />
          </div>
          <!--Item-->
          <div class="logo-item">
            <img src="/assets/technologies/swagger.png" alt="" />
          </div>
          <!--Item-->
          <div class="logo-item">
            <img src="/assets/technologies/node.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Client End-->
