<div
  class="col-center melCenter"
  *ngIf="wasSuccess === true && loading === false"
>
  <div class="alert bg-success mb-5 py-4" role="alert">
    <div class="d-flex">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-check-circle"
      >
        <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
        <polyline points="22 4 12 14.01 9 11.01"></polyline>
      </svg>
      <div class="px-3">
        <h5 class="alert-heading">Well done!</h5>
        <p>
          Aww yeah, you successfully activated hiroo.eu account. Please continue
          to login form and log in. After login, you can use features of Hiroo.
        </p>
      </div>
    </div>
  </div>
  <div class="continueto">
    <p>
      Click <a [routerLink]="['/company']">here</a> to continue to company
      administration
    </p>
  </div>
</div>

<div
  class="col-center melCenter"
  *ngIf="wasSuccess === false && loading === false"
>
  <div class="alert bg-success mb-5 py-4 bg-fail" role="alert">
    <div class="d-flex">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-zap-off mx-2"
      >
        <polyline points="12.41 6.75 13 2 10.57 4.92"></polyline>
        <polyline points="18.57 12.91 21 10 15.66 10"></polyline>
        <polyline points="8 8 3 14 12 14 11 22 16 16"></polyline>
        <line x1="1" y1="1" x2="23" y2="23"></line>
      </svg>
      <div class="px-3">
        <h5 class="alert-heading">Something went wrong!</h5>
        <p>
          {{ errMsg }}
        </p>
      </div>
    </div>
  </div>
  <div class="continueto">
    <p>
      Click <a [routerLink]="['/']">here</a> to return to Hiroo landing page.
    </p>
  </div>
</div>
