<!--Parallax Start-->
<section class="bg-light" id="features">
  <div class="container">
    <div class="row">
      <div
        *ngFor="let feature of data.features; let i = index"
        class="col-md-6"
      >
        <div
          [ngStyle]="{
            marginBottom: i === data.features.length - 1 ? '0px' : '60px'
          }"
          [id]="'paralax-n' + i + '-aos-anchor'"
        >
          <div class="row">
            <div class="col-lg-12 order-md-2">
              <div class="heading-area">
                <span
                  class="sub-title"
                  [attr.data-aos-anchor]="'#paralax-n' + i + '-aos-anchor'"
                  data-aos="fade-up"
                  >{{ feature.preTitle }}
                </span>
                <h2
                  class="title"
                  [attr.data-aos-anchor]="'#paralax-n' + i + '-aos-anchor'"
                  data-aos="fade-up"
                  data-aos-delay="400"
                >
                  {{ feature.title.before }}
                  <span class="main-color js-rotating">
                    {{ feature.title.words }}
                  </span>
                  {{ feature.title.after }}
                </h2>
                <!-- <p
                  class="para"
                  [attr.data-aos-anchor]="'#paralax-n' + i + '-aos-anchor'"
                  data-aos="fade-up"
                  data-aos-delay="800"
                >
                  {{ feature.description }}
                </p> -->
                <div
                  [attr.data-aos-anchor]="'#paralax-n' + i + '-aos-anchor'"
                  data-aos="fade-up"
                  data-aos-delay="1200"
                >
                  <a
                    class="btn btn-large btn-rounded btn-blue btn-hvr-pink mt-3"
                    href="javascript:void(0);"
                    data-toggle="modal"
                    [attr.data-target]="'#feature_modal' + i"
                    >{{ 'shared.learnMore' | translate }}
                    <div class="btn-hvr-setting">
                      <ul class="btn-hvr-setting-inner">
                        <li class="btn-hvr-effect"></li>
                        <li class="btn-hvr-effect"></li>
                        <li class="btn-hvr-effect"></li>
                        <li class="btn-hvr-effect"></li>
                      </ul>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div
              class="col-lg-12"
              [attr.data-aos-anchor]="'#paralax-n' + i + '-aos-anchor'"
              [attr.data-aos]="i % 2 === 0 ? 'fade-left' : 'fade-right'"
            >
              <div class="half-img mt-5 pt-4 mt-lg-0 pt-lg-0">
                <img
                  class="animated-img"
                  style="width: 50%"
                  alt="image"
                  [src]="feature.img"
                />
              </div>
            </div>
          </div>
        </div>

        <app-modal
          [title]="feature.modal.title"
          [text]="feature.modal.text"
          [image]="feature.modal.image"
          [id]="'feature_modal' + i"
        ></app-modal>
      </div>
    </div>
  </div>
</section>
<!--Parallax End-->
