<!--Slider Start-->
<section class="p-0 cursor-light" id="home">
  <h2 class="d-none">hidden</h2>
  <div
    class="rev_slider_wrapper fullscreen-container"
    data-alias="megaone-agency-1"
    data-source="gallery"
    id="rev_slider_17_1_wrapper"
    style="background:transparent;padding:0px;"
  >
    <!-- START REVOLUTION SLIDER 5.4.8.1 fullscreen mode -->
    <div
      class="rev_slider fullscreenbanner"
      data-version="5.4.8.1"
      id="rev_slider_17_1"
      style="display:none;"
    >
      <ul>
        <!-- SLIDE  -->
        <li
          data-description=""
          data-easein="default"
          data-easeout="default"
          data-hideafterloop="0"
          data-hideslideonmobile="off"
          data-index="rs-43"
          data-masterspeed="default"
          data-param1=""
          data-param10=""
          data-param2=""
          data-param3=""
          data-param4=""
          data-param5=""
          data-param6=""
          data-param7=""
          data-param8=""
          data-param9=""
          data-rotate="0"
          data-saveperformance="off"
          data-slotamount="default"
          data-title="Slide"
          data-transition="fade"
        >
          <!--OVERLAY-->
          <div class="gradient-bg1 bg-overlay"></div>

          <!-- LAYER NR. 3 -->
          <div
            class="tp-caption   tp-resizeme"
            data-frames='[{"opacity": 1}]'
            data-height="none"
            data-hoffset="['-26','-26','83','83']"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingtop="[0,0,0,0]"
            data-responsive_offset="on"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-type="image"
            data-voffset="['98','98','60','60']"
            data-whitespace="nowrap"
            data-width="none"
            data-x="['left','left','left','left']"
            data-y="['bottom','bottom','bottom','bottom']"
            id="slide-43-layer-5"
            style="z-index: 7;"
          >
            <div
              data-aos="fade-up"
              data-aos-delay="200"
              data-aos-anchor="#home"
            >
              <img
                alt=""
                data-hh="['87px','87px','87px','87px']"
                data-no-retina
                data-ww="['44px','44px','44px','44px']"
                src="/assets/agency/img/shape-6.png"
              />
            </div>
          </div>

          <!-- LAYER NR. 4 -->
          <div
            class="tp-caption   tp-resizeme"
            data-basealign="slide"
            data-frames='[{"opacity": 1}]'
            data-height="none"
            data-hoffset="['700','700','700','530']"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingtop="[0,0,0,0]"
            data-responsive_offset="on"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-type="image"
            data-voffset="['148','148','148','148']"
            data-whitespace="nowrap"
            data-width="none"
            data-x="['center','center','center','center']"
            data-y="['middle','middle','middle','middle']"
            id="slide-43-layer-6"
            style="z-index: 8;"
          >
            <div
              data-aos="fade-up"
              data-aos-delay="400"
              data-aos-anchor="#home"
            >
              <img
                alt=""
                data-hh="['87px','87px','87px','87px']"
                data-no-retina
                data-ww="['24px','24px','24px','24px']"
                src="/assets/agency/img/shape-5.png"
              />
            </div>
          </div>

          <!-- LAYER NR. 5 -->
          <div
            class="tp-caption   tp-resizeme"
            data-fontsize="['20','20','20','20']"
            data-frames='[{"opacity": 1}]'
            data-height="none"
            data-hoffset="['275','275','171','120']"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingtop="[0,0,0,0]"
            data-responsive_offset="on"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-type="image"
            data-voffset="['270','270','261','190']"
            data-whitespace="nowrap"
            data-width="none"
            data-x="['center','center','center','center']"
            data-y="['middle','middle','middle','middle']"
            id="slide-43-layer-7"
            style="z-index: 9;"
          >
            <div
              data-aos="fade-up"
              data-aos-delay="600"
              data-aos-anchor="#home"
            >
              <img
                alt=""
                data-hh="['67px','67px','67px','67px']"
                data-no-retina
                data-ww="['68px','68px','68px','68px']"
                src="/assets/agency/img/shape-4.png"
              />
            </div>
          </div>

          <!-- LAYER NR. 6 -->
          <div
            class="tp-caption   tp-resizeme"
            data-frames='[{"opacity": 1}]'
            data-height="none"
            data-hoffset="['413','413','268','204']"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingtop="[0,0,0,0]"
            data-responsive_offset="on"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-type="image"
            data-voffset="['-205','-205','-259','-145']"
            data-whitespace="nowrap"
            data-width="none"
            data-x="['center','center','center','center']"
            data-y="['middle','middle','middle','middle']"
            id="slide-43-layer-8"
            style="z-index: 10;"
          >
            <div
              data-aos="fade-up"
              data-aos-delay="800"
              data-aos-anchor="#home"
            >
              <img
                alt=""
                data-hh="['69px','69px','69px','69px']"
                data-no-retina
                data-ww="['67px','67px','67px','67px']"
                src="/assets/agency/img/shape-3.png"
              />
            </div>
          </div>

          <!-- LAYER NR. 7 -->
          <div
            class="tp-caption   tp-resizeme"
            data-frames='[{"opacity": 1}]'
            data-height="none"
            data-hoffset="['436','436','259','145']"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingtop="[0,0,0,0]"
            data-responsive_offset="on"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-type="image"
            data-voffset="['204','204','96','73']"
            data-whitespace="nowrap"
            data-width="none"
            data-x="['left','left','left','left']"
            data-y="['top','top','top','top']"
            id="slide-43-layer-9"
            style="z-index: 11;"
          >
            <div
              data-aos="fade-up"
              data-aos-delay="1000"
              data-aos-anchor="#home"
            >
              <img
                alt=""
                data-hh="['52px','52px','52px','52px']"
                data-no-retina
                data-ww="['51px','51px','51px','51px']"
                src="/assets/agency/img/shape-1.png"
              />
            </div>
          </div>

          <!-- LAYER NR. 8 -->
          <div
            class="tp-caption   tp-resizeme"
            data-basealign="slide"
            data-frames='[{"opacity": 1}]'
            data-height="none"
            data-hoffset="['39','39','94','58']"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingtop="[0,0,0,0]"
            data-responsive_offset="on"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-type="image"
            data-voffset="['109','109','64','69']"
            data-whitespace="nowrap"
            data-width="none"
            data-x="['right','right','right','right']"
            data-y="['top','top','top','top']"
            id="slide-43-layer-10"
            style="z-index: 12;"
          >
            <div
              data-aos="fade-up"
              data-aos-delay="1200"
              data-aos-anchor="#home"
            >
              <img
                alt=""
                data-hh="['14px','14px','14px','14px']"
                data-no-retina
                data-ww="['50px','50px','50px','50px']"
                src="/assets/agency/img/shape-2.png"
              />
            </div>
          </div>

          <!-- LAYER NR. 9 -->
          <div
            class="tp-caption tp-resizeme"
            data-fontsize="['70','65','60','50']"
            data-frames='[{"opacity": 1}]'
            data-height="none"
            data-hoffset="['320','250','0','0']"
            data-lineheight="['80','75','70','60']"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingtop="[0,0,0,0]"
            data-responsive_offset="on"
            data-textAlign="['left','left','center','center']"
            data-type="text"
            data-voffset="['-125','-125','-125','-110']"
            data-whitespace="nowrap"
            data-width="['650','650','600','500']"
            data-x="['center','center','center','center']"
            data-y="['middle','middle','middle','middle']"
            id="slide-43-layer-13"
            style="z-index: 13; min-width: 650px; max-width: 650px; white-space: nowrap; font-size: 70px; line-height: 80px; font-weight: 800; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;"
          >
            <div
              data-aos-delay="100"
              data-aos="fade-up"
              data-aos-anchor="#home"
              class="gradient-text1"
            >
              {{ 'slider.title' | translate }}
            </div>
          </div>

          <!-- LAYER NR. 10 -->
          <div
            class="tp-caption   tp-resizeme"
            data-fontsize="['70','65','60','50']"
            data-frames='[{"opacity": 1}]'
            data-height="none"
            data-hoffset="['320','250','0','0']"
            data-lineheight="['70','75','70','60']"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingtop="[0,0,0,0]"
            data-responsive_offset="on"
            data-textAlign="['left','left','center','center']"
            data-type="text"
            data-voffset="['-40','-40','-40','-40']"
            data-whitespace="nowrap"
            data-width="['650','650','600','500']"
            data-x="['center','center','center','center']"
            data-y="['middle','middle','middle','middle']"
            id="slide-43-layer-11"
            style="z-index: 14; min-width: 650px; max-width: 650px; white-space: nowrap; font-size: 70px; line-height: 70px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;"
          >
            <div
              data-aos-delay="400"
              data-aos="fade-up"
              data-aos-anchor="#home"
            >
              {{ 'slider.subtitle' | translate }}
            </div>
          </div>

          <!-- LAYER NR. 11 -->
          <div
            class="tp-caption   tp-resizeme"
            data-fontsize="['20','20','18','17']"
            data-frames='[{"opacity": 1}]'
            data-height="none"
            data-hoffset="['325','210','0','0']"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingtop="[0,0,0,0]"
            data-responsive_offset="on"
            data-textAlign="['left','left','center','center']"
            data-type="text"
            data-voffset="['80','75','65','57']"
            data-whitespace="normal"
            data-width="['651','550','600','500']"
            data-x="['center','center','center','center']"
            data-y="['middle','middle','middle','middle']"
            id="slide-43-layer-14"
            style="z-index: 15; min-width: 651px; max-width: 651px; white-space: normal; font-size: 20px; line-height: 30px; font-weight: 300; color: #ffffff; letter-spacing: 0px;font-family:Roboto;"
          >
            <div
              data-aos-delay="1200"
              data-aos="fade-up"
              data-aos-anchor="#home"
            >
              {{ 'slider.description' | translate }}
            </div>
          </div>

          <!-- LAYER NR. 12 -->
          <div
            class="tp-caption   tp-resizeme"
            data-frames='[{"opacity": 1}]'
            data-height="none"
            data-hoffset="['325','260','0','0']"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingtop="[0,0,0,0]"
            data-responsive_offset="on"
            data-textAlign="['left','left','center','center']"
            data-type="text"
            data-voffset="['200','186','176','156']"
            data-whitespace="nowrap"
            data-width="['650','650','600','500']"
            data-x="['center','center','center','center']"
            data-y="['middle','middle','middle','middle']"
            id="slide-43-layer-15"
            style="z-index: 16; white-space: nowrap;"
          >
            <div
              data-aos-delay="1600"
              data-aos="fade-up"
              data-aos-anchor="#home"
            >
              <a
                class="btn btn-slider btn-rounded btn-blue btn-hvr-white"
                href="javascript:void(0);"
                >{{ 'shared.learnMore' | translate }}
                <div class="btn-hvr-setting">
                  <ul class="btn-hvr-setting-inner">
                    <li class="btn-hvr-effect"></li>
                    <li class="btn-hvr-effect"></li>
                    <li class="btn-hvr-effect"></li>
                    <li class="btn-hvr-effect"></li>
                  </ul>
                </div>
              </a>
            </div>
          </div>

          <!-- LAYER NR. 13 -->
          <div
            class="tp-caption tp-resizeme"
            data-frames='[{"opacity": 1}]'
            data-x="['left','left','left','left']"
            data-y="['middle','middle','middle','middle']"
            id="slide-43-layer-16"
            style="z-index: 17;"
          >
            <div
              data-aos-delay="800"
              data-aos="fade-right"
              data-aos-anchor="#home"
            >
              <img alt="" src="/assets/agency/img/vector-art-1.png" />
            </div>
          </div>

          <!-- LAYER NR. 14 -->
          <div
            class="tp-caption tp-resizeme hide-cursor"
            data-actions='[{"event":"click","action":"scrollbelow","offset":"-50px","delay":"","speed":"1200","ease":"Power3.easeInOut"}]'
            data-fontsize="['20','20','20','17']"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-height="none"
            data-hoffset="['0','0','0','0']"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingtop="[0,0,0,0]"
            data-responsive_offset="on"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-type="text"
            data-voffset="['25','25','5','5']"
            data-whitespace="nowrap"
            data-width="none"
            data-x="['center','center','center','center']"
            data-y="['bottom','bottom','bottom','bottom']"
            id="slide-43-layer-17"
            style="z-index: 18; white-space: nowrap; cursor: pointer; font-size: 20px; line-height: 30px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;"
          >
            <div
              data-aos="fade-up"
              data-aos-delay="2000"
              data-aos-anchor="#home"
            >
              {{ 'slider.scrollDown' | translate }}
              <i class="ml-2 fas fa-long-arrow-alt-down"></i>
            </div>
          </div>
        </li>
      </ul>
      <div
        class="tp-bannertimer tp-bottom"
        style="visibility: hidden !important;"
      ></div>
    </div>
  </div>
  <!-- END REVOLUTION SLIDER -->
</section>
<!--Slider End-->
