.grid-container {
  margin: 20px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.example-full-width {
  width: 100%;
}

.list-padding {
  margin-top: 20px;
  margin-bottom: 20px;
}
