<!-- ############ Main START-->
<div>
  <div class="page-hero page-container" id="page-hero">
    <div class="padding d-flex">
      <div class="page-title" style="display: flex; align-items: center;">
        <a aria-label="Back to Interview Archive" data-balloon-pos="up"
          ><svg
            style="cursor: pointer;"
            (click)="goBack()"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#f54394"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-chevrons-left mx-2"
          >
            <polyline points="11 17 6 12 11 7"></polyline>
            <polyline points="18 17 13 12 18 7"></polyline></svg
        ></a>
        <h2 class="text-md text-highlight" style="margin-bottom: 0px;">
          <span class="text-hybrid">Interview Archive - </span>
          ID {{ historyIntId }}
        </h2>
      </div>
    </div>
  </div>
  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <div class="col-sm-12" *ngIf="data">
        <div
          class="card"
          data-sr-id="284"
          style="
            visibility: visible;
            transform: none;
            opacity: 1;
            transition: none 0s ease 0s;
          "
        >
          <div class="px-4 py-4">
            <div class="row mb-2">
              <div class="col-6">
                <small class="text-muted">Division Details:</small>
                <div class="my-2">
                  ID: <span class="text-hybrid"> {{ data.divId }} </span>
                </div>
                <div class="my-2">
                  Name: <span class="text-hybrid"> {{ data.divName }} </span>
                </div>
                <hr />
              </div>
              <div class="col-6">
                <small class="text-muted">HR Details:</small>
                <div class="my-2">
                  ID: <span class="text-hybrid"> {{ data.hrId }} </span>
                </div>
                <div class="my-2">
                  Name: <span class="text-hybrid"> {{ data.hrName }} </span>
                </div>
                <hr />
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <small class="text-muted" style="display: flex;"
                  >Status:
                  <div
                    class="my-2 text-hybrid"
                    style="margin: 0 10px !important;"
                  >
                    {{ data.status }}
                  </div></small
                >

                <small class="text-muted" style="display: flex;"
                  >Candates Amount:
                  <div
                    class="my-2 text-hybrid"
                    style="margin: 0 10px !important;"
                  >
                    {{ data.candidatesAmount }}
                  </div></small
                >

                <small class="text-muted" style="display: flex;"
                  >Plan Used:
                  <div
                    class="my-2 text-hybrid"
                    style="margin: 0 10px !important;"
                  >
                    {{ data.planUsed }}
                  </div></small
                >

                <small class="text-muted" style="display: flex;"
                  >Tokens Spent:
                  <div
                    class="my-2 text-hybrid"
                    style="margin: 0 10px !important;"
                  >
                    {{ data.tokensSpent | number: '1.4-4' }}
                  </div></small
                >
              </div>
              <div class="col-6">
                <small class="text-muted">Dates:</small>
                <div class="my-2">
                  Created At:
                  <span class="text-hybrid"> {{ data.createdAt }} </span>
                </div>
                <div class="my-2">
                  Started At:
                  <span class="text-hybrid"> {{ data.startedAt }} </span>
                </div>
                <div class="my-2">
                  Ended At:
                  <span class="text-hybrid"> {{ data.endedAt }} </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="alert alert-warning"
          role="alert"
          *ngIf="data.status === 'pending'"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-alert-circle"
          >
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="8" x2="12" y2="12"></line>
            <line x1="12" y1="16" x2="12" y2="16"></line>
          </svg>
          <span class="mx-2"
            >This interview is pending which means the interview didnt end yet.
            You can see price for this interview if all candidates submit
            results - which is not likely to happend. When an interview ends,
            status wil change to <strong>ended</strong> and both amount of
            candidates and tokens spent will update - you will most likely
            recieve some tokens back.</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ############ Main END-->
