<app-menu
  [mobileMenuAnimFinished]="mobileMenuAnimFinished"
  [focusForm]="focusForm"
  [mobileMenuOpened]="mobileMenuOpened"
  (setMobileMenuAnimFinished)="setMobileMenuAnimFinished($event)"
  (setMobileMenuOpened)="setMobileMenuOpened($event)"
  (setFocusForm)="setFocusForm($event)"
></app-menu>

<main class="bg-gray-800">
  <app-intro
    [focusForm]="focusForm"
    (setFocusForm)="setFocusForm($event)"
  ></app-intro>
  <app-features></app-features>
  <app-trusted-list></app-trusted-list>
  <app-interested-banner
    [focusForm]="focusForm"
    (setFocusForm)="setFocusForm($event)"
  ></app-interested-banner>
  <app-benefits></app-benefits>
  <app-contact></app-contact>
</main>
