<app-assistent [title]="step.data.title"></app-assistent>

<br />

<div *ngIf="int.interviewType === InterviewType.MIC">
  <p>
    {{ 'hardwareTest.mic.text' | translate }}
  </p>

  <p>
    {{ 'hardwareTestPage.status' | translate }}:
    <span *ngIf="!int.isHardwareWorking" class="text-danger">
      {{ 'hardwareTestPage.notAllowedYet' | translate }}
    </span>
    <span *ngIf="int.isHardwareWorking" class="text-success">
      {{ 'hardwareTestPage.allowed' | translate }}
    </span>
  </p>

  <br />

  <div class="row" *ngIf="!int.isHardwareWorking">
    <div class="col-md-6">
      <button
        style="cursor: pointer !important; height: 50px;"
        class="btn btn-success btn-block"
        (click)="onStartMicInit()"
      >
        {{ 'hardwareTestPage.mic.allowAccessButton' | translate }}
      </button>
    </div>
  </div>

  <div class="row" *ngIf="int.isHardwareWorking">
    <div class="col-md-6">
      <button
        style="cursor: pointer !important; height: 50px;"
        class="btn btn-primary btn-block"
        (click)="onShowMinPreview()"
      >
        {{ 'hardwareTestPage.mic.previewButton' | translate }}
      </button>
    </div>
  </div>
</div>

<div *ngIf="int.interviewType === InterviewType.CAM">
  <p>
    {{ 'hardwareTest.cam.text' | translate }}
  </p>
  <br />

  <p>
    {{ 'hardwareTestPage.status' | translate }}:
    <span *ngIf="!int.isHardwareWorking" class="text-danger">
      {{ 'hardwareTestPage.notAllowedYet' | translate }}
    </span>
    <span *ngIf="int.isHardwareWorking" class="text-success">
      {{ 'hardwareTestPage.allowed' | translate }}
    </span>
  </p>

  <br />

  <div class="row" *ngIf="!int.isHardwareWorking">
    <div class="col-md-6">
      <button
        style="cursor: pointer !important; height: 50px;"
        class="btn btn-success btn-block"
        (click)="onStartCameraInit()"
      >
        {{ 'hardwareTestPage.cam.allowAccessButton' | translate }}
      </button>
    </div>
  </div>

  <div class="row" *ngIf="int.isHardwareWorking">
    <div class="col-md-6">
      <button
        style="cursor: pointer !important; height: 50px;"
        class="btn btn-primary btn-block"
        (click)="onShowCameraPreview()"
      >
        {{ 'hardwareTestPage.cam.previewButton' | translate }}
      </button>
    </div>
  </div>

  <!--
  <br />

  <div class="row" *ngIf="int.isHardwareWorking">
    <div class="col-md-6">
      <button
        style="cursor: pointer !important; height: 50px;"
        class="btn btn-primary btn-block"
        [ngClass]="[int.stickyHardwarePreview ? 'btn-warning' : 'btn-success']"
        (click)="toggleCameraStickyPreview()"
      >
        <span *ngIf="!int.stickyHardwarePreview">{{
          'hardwareTestPage.cam.stickyPreviewButton.enable' | translate
        }}</span>
        <span *ngIf="int.stickyHardwarePreview">{{
          'hardwareTestPage.cam.stickyPreviewButton.disable' | translate
        }}</span>
      </button>
    </div>
  </div>
  -->
</div>

<a
  *ngIf="step.data.terms.text && step.data.terms.url"
  [href]="step.data.terms.url"
  class="text-primary"
  target="_blank"
>
  {{ step.data.terms.text }}
</a>

<div class="modal fade" tabindex="-1" role="dialog" id="cam-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ 'hardwareTestPage.modal.cam.title' | translate }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="cam-preview">
        <p>{{ 'hardwareTestPage.modal.loading' | translate }} ...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ 'hardwareTestPage.modal.close' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="mic-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ 'hardwareTestPage.modal.mic.title' | translate }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="cam-preview">
        <!-- <p>{{ 'hardwareTestPage.modal.loading' | translate }} ...</p> -->
        <app-mic></app-mic>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ 'hardwareTestPage.modal.close' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
