<div *ngIf="emailData !== null">
  <div class="page-hero page-container">
    <div class="padding d-flex">
      <svg
        style="cursor: pointer;"
        (click)="goBack()"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#f54394"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-chevrons-left mx-2"
      >
        <polyline points="11 17 6 12 11 7"></polyline>
        <polyline points="18 17 13 12 18 7"></polyline>
      </svg>
      <h2 class="text-md text-highlight white">{{ name }} - Editor</h2>
      <div class="flex"></div>
      <div (click)="clear()" class="newbtn white" style="margin-right: 30px;">
        <a class="btn btn-md text-muted" [ngClass]="{ 'btn-danger': true }">
          <span
            class="d-sm-inline mx-1 addbtn"
            style="color: white !important;"
          >
            Clear
          </span>
        </a>
      </div>
      <div (click)="save()" class="newbtn white" style="margin-right: 30px;">
        <a
          class="btn btn-md text-muted"
          [ngClass]="{ 'btn-secondary': !didChange, 'btn-success': didChange }"
        >
          <span
            class="d-sm-inline mx-1 addbtn"
            style="color: white !important;"
          >
            {{ saveText !== null ? saveText : didChange ? 'Save' : 'Saved' }}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <div class="col-sm-12" *ngIf="emailData !== null">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Subject</span>
          </div>
          <input
            (input)="onSubjectChange($event)"
            type="text"
            class="form-control"
            placeholder="Enter email subject.."
            [value]="emailData.subject"
          />
        </div>
      </div>
      <div class="col-sm-12">
        <div class="mb-3 card">
          <div
            style="background-color: white !important;"
            id="summernote"
            data-plugin="summernote"
            data-option="{}"
          ></div>
        </div>

        <div class="card">
          <div class="card-header text-hybrid" style="font-weight: bolder;">
            Email Attachments:
          </div>
          <div class="list list-row">
            <div
              class="list-item item-hover"
              *ngFor="let a of attach; let aI = index"
            >
              <div class="flex">
                <div class="item-feed h-2x" style="cursor: pointer;">
                  <a target="_blank" [href]="a"> {{ a }} </a>
                </div>
              </div>
              <div class="no-wrap">
                <div
                  class="item-date text-muted text-sm d-none d-md-block"
                  aria-label="Remove Attachment"
                  data-balloon-pos="up"
                  style="cursor: pointer;"
                  (click)="onRemoveAttachment(aI)"
                >
                  <i class="fa fa-times text-primary" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-12"
          style="
            margin-top: 0;
            padding-top: 0;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
          "
        >
          <a
            (click)="onAddAttachment()"
            style="float: right; width: auto;"
            aria-label="Add New Attachment"
            data-balloon-pos="up"
            style="cursor: pointer;"
          >
            <i class="fa fa-plus text-success" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
