<div class="page-hero page-container" id="page-hero">
  <div class="padding d-flex">
    <div class="page-title">
      <h2 class="text-md text-highlight">Fast Interview</h2>
      <small class="text-muted"
        >Create, configure and launch an interview within a minutes!</small
      >
    </div>
  </div>
</div>

<div
  class="page-content page-container"
  *ngIf="state !== FastInterviewState.INTRO"
>
  <div class="card text-white bg-primary text-center p-3">
    <blockquote class="blockquote mb-0">
      <span
        *ngIf="currentStep !== -1"
        style="
          opacity: 0.6;
          font-size: 14px;
          font-weight: lighter;
          margin-bottom: 20px;
        "
        >Step {{ currentStep }} / {{ totalSteps }}
      </span>
      <p style="font-size: 24px;">
        {{ currentTitle }}
      </p>
      <footer class="text-fade text-sm" style="font-size: 15px;">
        {{ currentText }}
      </footer>
    </blockquote>
  </div>
</div>

<div
  class="page-content page-container"
  id="page-content"
  *ngIf="state === FastInterviewState.INTRO"
>
  <div class="padding">
    <div class="row">
      <div class="col-sm-12">
        <div class="card-columns">
          <div
            class="card bg-primary text-white text-center p-3"
            style="min-height: 300px;"
          >
            <blockquote class="blockquote mb-0">
              <span
                style="
                  opacity: 0.6;
                  font-size: 14px;
                  font-weight: lighter;
                  margin-bottom: 20px;
                "
                >1.
              </span>
              <p style="font-size: 24px;">
                Pick formular template from our templates gallery
              </p>
              <hr style="background-color: white;" />
              <footer class="text-fade text-sm" style="font-size: 15px;">
                You are allowed to customize questions, remove them or add new
                ones. You can do this after finishing fast interview import.
              </footer>
            </blockquote>
          </div>

          <div
            class="card bg-primary text-white text-center p-3"
            style="min-height: 300px;"
          >
            <blockquote class="blockquote mb-0">
              <span
                style="
                  opacity: 0.6;
                  font-size: 14px;
                  font-weight: lighter;
                  margin-bottom: 20px;
                "
                >2.
              </span>
              <p style="font-size: 24px;">
                Pick email template from our templates gallery
              </p>
              <hr style="background-color: white;" />
              <footer class="text-fade text-sm" style="font-size: 15px;">
                You are allowed to customize subject and text. You can change
                company name, color of the text or even add your own company
                logo. You can do this after finishing fast interview import.
              </footer>
            </blockquote>
          </div>

          <div
            class="card bg-primary text-white text-center p-3"
            style="min-height: 300px;"
          >
            <blockquote class="blockquote mb-0">
              <span
                style="
                  opacity: 0.6;
                  font-size: 14px;
                  font-weight: lighter;
                  margin-bottom: 20px;
                "
                >3.
              </span>
              <p style="font-size: 24px;">
                Configure your interview
              </p>
              <hr style="background-color: white;" />
              <footer class="text-fade text-sm" style="font-size: 15px;">
                Determine when the interview starts, when we should remind
                candidates or when does the interview end.
              </footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card text-white text-center p-3" style="min-height: 200px;">
          <blockquote class="blockquote mb-0">
            <span
              style="
                opacity: 0.6;
                font-size: 14px;
                font-weight: lighter;
                margin-bottom: 20px;
              "
              >4.
            </span>
            <p style="font-size: 24px;">
              Invite all candidates to complete your interview
            </p>
            <footer class="text-fade text-sm" style="font-size: 15px;">
              Add candidates manually or use automated system to register
              candidate when he send registration email.
            </footer>
          </blockquote>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card text-white text-center p-3" style="min-height: 200px;">
          <blockquote class="blockquote mb-0">
            <span
              style="
                opacity: 0.6;
                font-size: 14px;
                font-weight: lighter;
                margin-bottom: 20px;
              "
              >5.
            </span>
            <p style="font-size: 24px;">
              Watch results and schedule personal interview
            </p>
            <footer class="text-fade text-sm" style="font-size: 15px;">
              After finish of the interview we will analyse all results and
              provide you with the most important information.
            </footer>
          </blockquote>
        </div>
      </div>

      <div class="col-sm-12 mt-12">
        <button
          (click)="onStart()"
          class="btn btn-success btn-lg btn-block"
          style="font-size: 24px;"
        >
          Interested? Let's start!
        </button>
        <p
          class="text-hybrid"
          style="margin-top: 10px; width: 100%; text-align: center;"
        >
          Launch your interview in less than 5 minutes!
        </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="state === FastInterviewState.SELECT_FORM">
  <app-hr-form-templates
    (onImportEvent)="onImportForm($event)"
  ></app-hr-form-templates>
</div>

<div *ngIf="state === FastInterviewState.SELECT_EMAIL">
  <app-hr-email-templates
    (onImportEvent)="onImportEmail($event)"
  ></app-hr-email-templates>
</div>

<div *ngIf="state === FastInterviewState.SELECT_DATES">
  <app-fast-interview-settings
    (onImportEvent)="onImportSettings($event)"
  ></app-fast-interview-settings>
</div>
