/* You can add global styles to this file, and also import other style files */
.js-rotating {
  display: block !important;
}

.swal2-container {
  z-index: 99999999 !important;
}

.fancybox-slide {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.owl-item {
  height: 200px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
