<section id="thank-you" class="thank-you-section">
  <div class="container thank-you-container">
    <div class="thank-you-wrapper position-relative thank-wrapper-style-two">
      <!-- <div class="thank-you-close text-center">x</div> -->
      <div class="thank-txt text-center">
        <div class="text-area-thank">
          <div class="thank-icon">
            <img src="/assets/popup/img/okimg.png" alt="" />
          </div>
          <h1>{{ 'invitePage.title' | translate }}</h1>
          <p>{{ 'invitePage.subtitle' | translate }}</p>
        </div>
      </div>
      <div class="thank-txt-part2">
        <p>
          {{ 'invitePage.points.title' | translate }}
        </p>
        <a class="d-block">{{ 'invitePage.points.one' | translate }}</a>
        <a class="d-block">{{ 'invitePage.points.two' | translate }}</a>
        <a class="d-block">{{ 'invitePage.points.three' | translate }}</a>
        <a class="d-block">{{ 'invitePage.points.four' | translate }}</a>
        <br />
        <p>
          {{ 'invitePage.text' | translate }}
        </p>

        <div class="row">
          <div class="col-md-6">
            <div
              (click)="onCancelInvite()"
              class="okey-btn text-uppercase text-center"
              style="background-color: #dc3545; color: white; cursor: pointer"
            >
              {{ 'invitePage.buttons.back' | translate }}
            </div>
          </div>

          <div class="col-md-6">
            <div
              (click)="onAcceptInvite()"
              class="okey-btn text-uppercase text-center"
              style="color: white; cursor: pointer"
            >
              {{ 'invitePage.buttons.continue' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
