.tooltip-white {
  --balloon-color: white !important;
  --balloon-text-color: black !important;
}

/*
Custom css
*/

.modal-header {
  color: black;
}

.modal-body {
  color: black !important;
}

.tooltip {
  margin-top: -65px;
}

.media-2x1 {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
