.select {
  background-color: #19203a;
  border-radius: 0.25rem;
  color: #99a0ac;
  border-color: rgba(135, 150, 165, 0.15);
  border-width: 1px;
  width: 100%;
  height: calc(1.4285714286em + 0.75rem + 2px);
  margin: 0% 0% 2% 0%;
}
