<div *ngIf="medalCats !== null">
  <div class="page-hero page-container">
    <div class="padding d-flex">
      <svg
        style="cursor: pointer;"
        (click)="goBack()"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#f54394"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-chevrons-left mx-2"
      >
        <polyline points="11 17 6 12 11 7"></polyline>
        <polyline points="18 17 13 12 18 7"></polyline>
      </svg>
      <h2 class="text-md text-highlight white">
        {{ name }} - Medal Weight Editor
      </h2>
      <div class="flex"></div>
      <div (click)="save()" class="newbtn white" style="margin-right: 30px;">
        <a
          class="btn btn-md text-muted"
          [ngClass]="{ 'btn-secondary': !didChange, 'btn-success': didChange }"
        >
          <span
            class="d-sm-inline mx-1 addbtn"
            style="color: white !important;"
          >
            {{ saveText !== null ? saveText : didChange ? 'Save' : 'Saved' }}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <div class="col-sm-12">
        <div class="alert alert-info" role="alert">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-info"
          >
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="16" x2="12" y2="12"></line>
            <line x1="12" y1="8" x2="12" y2="8"></line>
          </svg>
          <span class="mx-2"
            >You can disable medal by setting weight to 0. When you click on
            pencil icon, you can set weight to outside of rande of 0 to 10. This
            should be only used by experienced HR-ists as this may greatly
            change outcome of the interview results.</span
          >
        </div>

        <div class="card color-wtf">
          <div class="card-header">
            <strong>
              <span class="badge badge-circle text-success color-wtf"></span>
              Medal Weight Configuration
            </strong>
          </div>
          <div class="card-body">
            <div *ngIf="medalCats.length === 0">
              <h3>No medal available. Add question pair first.</h3>
            </div>

            <div *ngFor="let medalCat of medalCats">
              <p class="text-hybrid" style="font-weight: bold;">
                {{ medalCat.name }}
              </p>
              <div
                *ngFor="let medal of medalCat.medals"
                class="input-group mb-3"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><span
                      class="badge badge-circle text-success color-wtf"
                      style="margin-right: 10px;"
                    ></span>
                    {{ medal.name }}
                  </span>
                </div>
                <div class="form-control">
                  <input
                    [value]="medal.weight"
                    (input)="onRangeChange(medalWeightRange.value, medal)"
                    #medalWeightRange
                    type="range"
                    class="custom-range"
                    min="0"
                    max="10"
                    step="1"
                  />
                </div>

                <div class="input-group-append">
                  <span class="input-group-text">
                    {{ medal.weight }}

                    <span
                      (click)="onCustomWeight(medal)"
                      style="margin-left: 10px;"
                      aria-label="Set Custom Weight"
                      data-balloon-pos="up"
                    >
                      <i
                        class="fa fa-pencil text-primary"
                        aria-hidden="true"
                      ></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12" style="padding-bottom: 120px; padding-right: 0;">
        <div (click)="save()" class="newbtn white" style="float: right;">
          <a
            class="btn btn-md text-muted"
            [ngClass]="{
              'btn-secondary': !didChange,
              'btn-success': didChange
            }"
          >
            <span
              class="d-sm-inline mx-1 addbtn"
              style="color: white !important;"
            >
              {{ saveText !== null ? saveText : didChange ? 'Save' : 'Saved' }}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
