<div class="bg-white dark:bg-gray-800">
  <div class="max-w-7xl mx-auto pb-24 pt-16 px-4 sm:px-6">
    <p
      class="text-center text-base font-semibold uppercase dark:text-gray-300 text-gray-600 tracking-wider"
      i18n="trusted_list_component - title@@snvE9Es"
    >
      Trusted by multiple world-changing companies
    </p>
    <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-8">
      <div
        class="col-span-1 flex justify-center py-8 px-8 bg-gray-50 dark:bg-gray-900"
      >
        <img
          class="max-h-14"
          src="/assets/coop/concordia.png"
          alt="Workcation"
        />
      </div>
      <div
        class="col-span-1 flex justify-center py-8 px-8 bg-gray-50 dark:bg-gray-900"
      >
        <img class="max-h-14" src="/assets/coop/ventures.png" alt="Mirage" />
      </div>
      <div
        class="col-span-1 flex justify-center py-8 px-8 bg-gray-50 dark:bg-gray-900"
      >
        <img class="max-h-12" src="/assets/coop/codeink.png" alt="Tuple" />
      </div>
      <div
        class="col-span-1 flex justify-center py-8 px-8 bg-gray-50 dark:bg-gray-900"
      >
        <img class="max-h-12" src="/assets/coop/localazy.png" alt="Laravel" />
      </div>
      <div
        class="col-span-1 flex justify-center py-8 px-8 bg-gray-50 dark:bg-gray-900"
      >
        <img
          class="max-h-16"
          src="/assets/coop/scaleup_academy.png"
          alt="StaticKit"
        />
      </div>
      <div
        class="col-span-1 flex justify-center py-8 px-8 bg-gray-50 dark:bg-gray-900"
      >
        <!-- <img
          class="max-h-12"
          src="https://tailwindui.com/img/logos/statamic-logo-gray-400.svg"
          alt="Statamic"
        /> -->
      </div>
    </div>
  </div>
</div>
