<div class="page-content page-container">
  <div class="card">
    <div class="card-header"><strong>Interview Settings</strong></div>
    <div class="card-body">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="input-id-1"
          >Interview Name</label
        >
        <div class="col-sm-8">
          <input class="form-control" type="text" [(ngModel)]="nameData" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="input-id-1"
          >Interview Page Color</label
        >
        <div class="col-sm-8">
          <select class="form-control" [(ngModel)]="pageColor"
            ><option value="blue">Blue</option
            ><option value="purple">Purple</option
            ><option value="orange">Orange</option
            ><option value="red">Red</option></select
          >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="input-id-1"
          >Interview Page Background</label
        >
        <div class="col-sm-8">
          <select class="form-control" [(ngModel)]="pageBgColor"
            ><option value="light">Light Theme</option
            ><option value="dark">Dark Theme</option></select
          >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="input-id-1"
          >Interview Page Image</label
        >
        <div class="col-sm-8">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              aria-describedby="basic-addon3"
              [value]="shortImageData(imageData)"
              disabled="disabled"
            />
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon3">
                <a (click)="openImagePreview()" style="cursor: pointer;">
                  <svg
                    style="cursor: pointer;"
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#31c971"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-external-link"
                  >
                    <path
                      d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                    ></path>
                    <polyline points="15 3 21 3 21 9"></polyline>
                    <line x1="10" y1="14" x2="21" y2="3"></line>
                  </svg>
                </a>
              </span>
              <span class="input-group-text" id="basic-addon3">
                <svg
                  (click)="editImage()"
                  style="cursor: pointer;"
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="18"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#f4c414"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-edit"
                >
                  <path
                    d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"
                  ></path>
                  <path
                    d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"
                  ></path>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="input-id-1"
          >Interview Prelog</label
        >
        <div class="col-sm-8">
          <textarea
            class="form-control"
            rows="7"
            [(ngModel)]="prelogData"
          ></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="input-id-1"
          >Interview Start Date</label
        >
        <div class="col-sm-8">
          <input
            (dateTimeChange)="onStartDateChange($event)"
            style="cursor: pointer; opacity: 1; color: #b9c0d3;"
            [owlDateTimeTrigger]="dt"
            [owlDateTime]="dt"
            type="text"
            class="form-control"
            disabled="disabled"
          />

          <owl-date-time #dt></owl-date-time>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="input-id-1"
          >Interview Remind Date</label
        >
        <div class="col-sm-8">
          <input
            (dateTimeChange)="onRemindDateChange($event)"
            style="cursor: pointer; opacity: 1; color: #b9c0d3;"
            [owlDateTimeTrigger]="dt2"
            [owlDateTime]="dt2"
            type="text"
            class="form-control"
            disabled="disabled"
          />

          <owl-date-time #dt2></owl-date-time>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="input-id-1"
          >Interview End Date</label
        >
        <div class="col-sm-8">
          <input
            (dateTimeChange)="onEndDateChange($event)"
            style="cursor: pointer; opacity: 1; color: #b9c0d3;"
            [owlDateTimeTrigger]="dt3"
            [owlDateTime]="dt3"
            type="text"
            class="form-control"
            disabled="disabled"
          />

          <owl-date-time #dt3></owl-date-time>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-8 offset-sm-4">
          <button
            (click)="onSubmit()"
            type="button"
            class="btn btn-primary btn-block"
          >
            Create Interview
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="backgrounds-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  *ngIf="images.length > 0"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select Image</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          These images are provided by Unsplash and can be used for free. You
          can find information about authors of these ptohos
          <a [href]="apiUrl + '/public/bulksplash-credits.json'" target="_blank"
            >here</a
          >
        </p>

        <div class="row">
          <div
            class="col-md-3"
            style="margin-bottom: 20px;"
            *ngFor="let img of images | arrayInfexFilter: maxImages"
          >
            <div
              style="
                width: 100%;
                height: 255px;
                background-size: cover;
                background-position: center;
                position: relative;
              "
              [ngStyle]="{ backgroundImage: 'url(' + img.urlSmall + ')' }"
            >
              <div
                (click)="onSelectBackgroundImage(img)"
                class="btn btn-white"
                style="
                  background-color: white;
                  cursor: pointer;
                  border-radius: 5px;
                  padding: 10px;
                  position: absolute;
                  bottom: 5px;
                  width: calc(100% - 30px);
                  left: 15px;
                  text-align: center;
                "
              >
                <span class="text-primary">Select</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="btn btn-block btn-primary" (click)="loadMoreImages()">
              Load more images
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <small class="text-primary" style="font-weight: bold;">
          Changes apply automatically
        </small>
        <button type="button" class="btn btn-light" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  id="preview-background-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Background Preview</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img
          [src]="generatePreviewUrl()"
          alt="Background preview"
          style="width: 100%;"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
