<!--Blog Start-->
<section class="bg-light" id="pricing" style="padding-top: 0;">
    <div class="container">
      <!--Row-->
      <div class="row" id="blog-n1-aos-anchor">
        <div class="col-md-12 text-center">
          <div class="heading-area mx-570 pb-lg-5 mb-5">
            <span
              data-aos-anchor="#blog-n1-aos-anchor"
              data-aos="fade-up"
              class="sub-title"
              >{{ 'blog.preTitle' | translate }}</span
            >
            <h2
              data-aos-anchor="#blog-n1-aos-anchor"
              data-aos="fade-up"
              data-aos-delay="400"
              class="title mb-0"
            >
              {{ 'blog.title.before' | translate }}
              <span class="alt-color js-rotating">{{
                'blog.title.words' | translate
              }}</span>
              {{ 'blog.title.after' | translate }}
            </h2>
          </div>
        </div>
      </div>
      <!--Row-->
      <div class="row">
        <!--News Item-->
        <div
          class="col-lg-4" style="height: 100%; min-height:430px;"
          *ngFor="let plan of plans; let i = index"
          [attr.data-aos]="i % 2 == 0 ? 'flip-left' : 'flip-right'"
        >
          <div class="news-item" style="height: 100%; min-height: 430px;">
            <div class="news-text-box" style="height: 100%; min-height: 430px;">
              <div
                class="date main-color text-center"

                style="text-align: center; color: #f033b5;"
              >
                {{ plan.name }}
              </div>
              <a
                href=""
                style="
                  display: flex;
                  align-items: flex-end;
                  flex-direction: row;
                  justify-content: center;
                "
              >
                <h4
                  class="news-title"
                  style="font-size: 64px; display: flex; align-items: flex-start"
                >
                  <h6 class="news-title" style="margin-right: 5px">
                    €
                  </h6>
                  {{ plan.price }}
                </h4>
                <h6 class="news-title">/ {{ 'pricin-new.month' | translate }}</h6>
              </a>
              <hr />

              <small> Included Features: </small>
              <p class="para para-custom" *ngFor="let item of plan.features">
                <i style="color: #f033b5" class="fa fa-check"></i>
                {{ item }}
              </p>
              <hr />
            </div>
          </div>
        </div>
  
        <div class="col-md-12 mt-4 d-flex justify-content-center">
          <a
          class="btn btn-large btn-rounded btn-pink btn-hvr-blue mt-3"
          href="javascript:void(0);"
          data-toggle="modal"
          data-target="#pricing_modal"
          >{{ 'blog.showDetails' | translate }}
          <div class="btn-hvr-setting">
            <ul class="btn-hvr-setting-inner">
              <li class="btn-hvr-effect"></li>
              <li class="btn-hvr-effect"></li>
              <li class="btn-hvr-effect"></li>
              <li class="btn-hvr-effect"></li>
            </ul>
          </div>
        </a>
        </div>
      </div>
    </div>
  </section>
  <!--Blog End-->



    <!-- Modal -->
    <div class="modal fade" id="pricing_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="width: 90vw; max-width: none;">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">

            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <app-blog></app-blog>
         <app-calc></app-calc>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
  
