<div>
  <div class="page-hero page-container" id="page-hero">
    <div class="padding d-flex offset-md-2">
      <div class="page-title">
        <h2 class="text-md text-highlight">Frequently asked questions</h2>
        <small class="text-muted">Frequently asked and answered</small>
      </div>
    </div>
  </div>
  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <div class="row" *ngIf="faq">
        <div
          class="col-sm-8 offset-sm-2"
          *ngFor="let cat of faq.categories; let i1 = index"
        >
          <p>
            <strong> {{ cat.name }} </strong>
          </p>
          <div class="mb-4" *ngFor="let q of cat.questions; let i2 = index">
            <div class="card mb-2">
              <a
                data-toggle="collapse"
                [attr.data-target]="'#c_' + i1 + '_' + i2"
              >
                <div class="card-header no-border">
                  <strong>Q:</strong> {{ q.question }}

                  <div style="float: right;">
                    <i
                      class="fa fa-angle-down text-success"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </a>
              <div [id]="'c_' + i1 + '_' + i2" class="collapse in b-t">
                <div class="card-body">
                  <div class="float-left mr-2">
                    <span class="text-md w-32 avatar circle bg-success">A</span>
                  </div>
                  <p class="text-muted">
                    {{ q.answer }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <br />
        </div>

        <div class="col-sm-8 offset-sm-2">
          <button
            (click)="openLiveChat()"
            class="btn w-sm mb-1 btn-rounded btn-primary btn-block btn-md"
            style="width: 100%;"
          >
            Start Live Chat
          </button>
          <br /><br />
          <a data-toggle="collapse" data-target="#form_1">
            <button
              class="btn w-sm mb-1 btn-rounded btn-success btn-block btn-md"
              style="width: 100%;"
            >
              Send Email
            </button>
          </a>

          <div id="form_1" class="collapse b-t">
            <br /><br />
            <form
              (submit)="
                sendEmail(
                  $event,
                  emailName.value,
                  emailEmail.value,
                  emailSubject.value,
                  emailText.value
                )
              "
            >
              <div class="form-group row">
                <div class="col-sm-6">
                  <label>Contact Name</label>
                  <input
                    #emailName
                    type="text"
                    class="form-control"
                    placeholder="Enter Name"
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label>Contact Email</label>
                  <input
                    #emailEmail
                    type="email"
                    class="form-control"
                    placeholder="Enter email"
                    required
                  />
                </div>
              </div>
              <div class="form-group">
                <label>Subject</label>
                <select #emailSubject class="form-control c-select">
                  <option></option>
                  <option>Website Errors</option>
                  <option>Product Services</option>
                  <option>Login/Signup Problem</option>
                </select>
              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea
                  #emailText
                  class="form-control"
                  rows="6"
                  placeholder="Enter your message"
                ></textarea>
              </div>
              <button type="submit" class="btn btn-primary">
                Send
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
