<div class="page-benefits">
  <div
    class="relative dark:bg-gray-800 bg-white py-16 sm:py-24 lg:py-24 block sm:hidden"
  >
    <div
      class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl"
    >
      <h2
        class="text-base font-semibold tracking-wider text-orange-500 uppercase"
        i18n="benefits_component - small subtitle@@snvGwvY"
      >
        improve you company
      </h2>
      <p
        class="mt-2 text-3xl font-extrabold dark:text-gray-50 text-gray-900 tracking-tight sm:text-4xl"
        i18n="benefits_component - title@@snvGwOF"
      >
        We inovate your processes
      </p>
      <p
        class="mt-5 max-w-prose mx-auto text-xl text-gray-500 dark:text-gray-300"
        i18n="benefits_component - description@@snvGx6l"
      >
        Improve your image in front of your customers and candidates as well.
        Checkli brings following benefits:
      </p>

      <div
        class="mt-12 rounded-lg bg-gray-200 overflow-hidden shadow divide-y dark:bg-gray-600 dark:divide-gray-900 divide-gray-200 sm:divide-y-0 sm:grid sm:grid-cols-2 sm:gap-px"
      >
        <div
          class="rounded-tl-lg relative group dark:bg-orange-500 bg-orange-300 p-6"
        >
          <div>
            <span
              class="rounded-lg inline-flex p-3 bg-teal-50 text-teal-700 bg-white ring-3 ring-opacity-30 ring-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-6 w-6 text-gray-800"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                />
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium">
              <span class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span
                  class="text-gray-50"
                  i18n="
                    benefits_component - table header small subtitle@@snvGDkz"
                  >Benefits for</span
                >
                <span
                  class="text-white font-bold text-3xl block uppercase"
                  i18n="benefits_component - table header title@@snvGHBn"
                  >your company</span
                >
              </span>
            </h3>
          </div>
        </div>

        <div class="relative group bg-white dark:bg-gray-900 p-6">
          <div>
            <span
              class="rounded-lg inline-flex p-3 dark:bg-orange-500 bg-orange-300 text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z"
                />
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium text-gray-800 dark:text-gray-50">
              <span class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute" aria-hidden="true"></span>
                <span i18n="benefits_component - benefit title@@snvH4Uh"
                  >Scalability</span
                >
              </span>
            </h3>
            <div class="flex justify-center">
              <p
                class="mt-2 text-sm text-gray-500 dark:text-gray-300 max-w-md"
                i18n="benefits_component - benefit text@@snvH5eO"
              >
                On our platform, you can process more job positions at the same
                time. Also, multiple HR specialists can work on the same
                interview at the same time.
              </p>
            </div>
          </div>
        </div>

        <div class="relative group bg-white dark:bg-gray-900 p-6">
          <div>
            <span
              class="rounded-lg inline-flex p-3 dark:bg-orange-500 bg-orange-300 text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"
                />
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium text-gray-800 dark:text-gray-50">
              <span class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute" aria-hidden="true"></span>
                <span i18n="benefits_component - benefit title@@snvH7hC"
                  >"Just" a tool</span
                >
              </span>
            </h3>
            <div class="flex justify-center">
              <p
                class="mt-2 text-sm text-gray-500 max-w-md"
                i18n="benefits_component - benefit text@@snvH7Cd"
              >
                Let a technology analyse the content and you decide based on
                your human feelings. We are not trying to replace your human
                resources sector, we are trying to help them!
              </p>
            </div>
          </div>
        </div>

        <div class="relative group bg-white dark:bg-gray-900 p-6">
          <div>
            <span
              class="rounded-lg inline-flex p-3 dark:bg-orange-500 bg-orange-300 text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                />
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium text-gray-800 dark:text-gray-50">
              <span class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute" aria-hidden="true"></span>
                <span i18n="benefits_component - benefit title@@snvH9Kx"
                  >Reduce the fluctuation</span
                >
              </span>
            </h3>
            <div class="flex justify-center">
              <p
                class="mt-2 text-sm text-gray-500 max-w-md"
                i18n="benefits_component - benefit text@@snvHa0Y"
              >
                Our platform can provide enough information for you to make sure
                the candidate understands a language on the level you require
                him. Also, you can test some of our example scenarios to see if
                the candidate can respond as you expect him to.
              </p>
            </div>
          </div>
        </div>

        <div
          class="rounded-tr-lg relative group bg-orange-400 dark:bg-orange-600 p-6"
        >
          <div>
            <span
              class="rounded-lg inline-flex p-3 bg-teal-50 text-teal-700 bg-white ring-3 ring-opacity-30 ring-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-6 w-6 text-gray-800"
              >
                <path fill="#fff" d="M12 14l9-5-9-5-9 5 9 5z" />
                <path
                  fill="#fff"
                  d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                />
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium">
              <span class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span
                  class="text-gray-50"
                  i18n="
                    benefits_component - table header small subtitle@@snvGDkz"
                  >Benefits for</span
                >
                <span
                  class="text-white font-bold text-3xl block uppercase"
                  i18n="benefits_component - table header title@@snvGJ8j"
                  >the candidate</span
                >
              </span>
            </h3>
          </div>
        </div>

        <div class="relative group bg-white dark:bg-gray-900 p-6">
          <div>
            <span
              class="rounded-lg inline-flex p-3 dark:bg-orange-600 bg-orange-400 text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z"
                />
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium text-gray-800 dark:text-gray-50">
              <span class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute" aria-hidden="true"></span>
                <span i18n="benefits_component - benefit title@@snvH6aK"
                  >Submit from anywhere</span
                >
              </span>
            </h3>
            <div class="flex justify-center">
              <p
                class="mt-2 text-sm text-gray-500 max-w-md"
                i18n="benefits_component - benefit text@@snvH6ru"
              >
                Candidate can handle the interview from anywhere and anywhen
                they want. No matter if you submit the interview from home or on
                the train, no matter if you decide to use smartphone or laptop,
                eveerything will be working as expected.
              </p>
            </div>
          </div>
        </div>

        <div class="relative group bg-white dark:bg-gray-900 p-6">
          <div>
            <span
              class="rounded-lg inline-flex p-3 dark:bg-orange-600 bg-orange-400 text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z"
                />
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium text-gray-800 dark:text-gray-50">
              <span class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute" aria-hidden="true"></span>
                <span i18n="benefits_component - benefit title@@snvH8He"
                  >Follow the technology</span
                >
              </span>
            </h3>
            <div class="flex justify-center">
              <p
                class="mt-2 text-sm text-gray-500 max-w-md"
                i18n="benefits_component - benefit text@@snvH96i"
              >
                Today's candidates are familiar with modern technologies and
                they will appreciate compaines that take advanged of the
                technology.
              </p>
            </div>
          </div>
        </div>

        <div class="relative group bg-white dark:bg-gray-900 p-6">
          <div>
            <span
              class="rounded-lg inline-flex p-3 dark:bg-orange-600 bg-orange-400 text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"
                />
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium text-gray-800 dark:text-gray-50">
              <span class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute" aria-hidden="true"></span>
                <span i18n="benefits_component - benefit title@@snvHaK1">
                  Video CV</span
                >
              </span>
            </h3>
            <div class="flex justify-center">
              <p
                class="mt-2 text-sm text-gray-500 max-w-md"
                i18n="benefits_component - benefit text@@snvHbi0"
              >
                You can offer the candidates a video interview for submiting the
                interview results by exporting it from our platform. This may
                help you get interest from more candidates as they get a reward
                even if they won't get hired.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="relative dark:bg-gray-800 bg-white py-16 sm:py-24 lg:py-24 hidden sm:block"
  >
    <div
      class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl"
    >
      <h2
        class="text-base font-semibold tracking-wider text-orange-500 uppercase"
        i18n="benefits_component - small subtitle@@snvGwvY"
      >
        improve you company
      </h2>
      <p
        class="mt-2 text-3xl font-extrabold dark:text-gray-50 text-gray-900 tracking-tight sm:text-4xl"
        i18n="benefits_component - title@@snvGwOF"
      >
        We inovate your processes
      </p>
      <p
        class="mt-5 max-w-prose mx-auto text-xl text-gray-500 dark:text-gray-300"
        i18n="benefits_component - description@@snvGx6l"
      >
        Improve your image in front of your customers and candidates as well.
        Checkli brings following benefits:
      </p>

      <div
        class="mt-12 rounded-lg bg-gray-200 overflow-hidden shadow divide-y dark:bg-gray-600 dark:divide-gray-900 divide-gray-200 sm:divide-y-0 sm:grid sm:grid-cols-2 sm:gap-px"
      >
        <div
          class="rounded-tl-lg relative group dark:bg-orange-500 bg-orange-300 p-6"
        >
          <div>
            <span
              class="rounded-lg inline-flex p-3 bg-teal-50 text-teal-700 bg-white ring-3 ring-opacity-30 ring-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-6 w-6 text-gray-800"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                />
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium">
              <span class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span
                  class="text-gray-50"
                  i18n="
                    benefits_component - table header small subtitle@@snvGDkz"
                  >Benefits for</span
                >
                <span
                  class="text-white font-bold text-3xl block uppercase"
                  i18n="benefits_component - table header title@@snvGHBn"
                  >your company</span
                >
              </span>
            </h3>
          </div>
        </div>

        <div
          class="rounded-tr-lg relative group bg-orange-400 dark:bg-orange-600 p-6"
        >
          <div>
            <span
              class="rounded-lg inline-flex p-3 bg-teal-50 text-teal-700 bg-white ring-3 ring-opacity-30 ring-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-6 w-6 text-gray-800"
              >
                <path fill="#fff" d="M12 14l9-5-9-5-9 5 9 5z" />
                <path
                  fill="#fff"
                  d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                />
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium">
              <span class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span
                  class="text-gray-50"
                  i18n="
                    benefits_component - table header small subtitle@@snvGDkz"
                  >Benefits for</span
                >
                <span
                  class="text-white font-bold text-3xl block uppercase"
                  i18n="benefits_component - table header title@@snvGJ8j"
                  >the candidate</span
                >
              </span>
            </h3>
          </div>
        </div>

        <div class="relative group bg-white dark:bg-gray-900 p-6">
          <div>
            <span
              class="rounded-lg inline-flex p-3 dark:bg-orange-500 bg-orange-300 text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z"
                />
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium text-gray-800 dark:text-gray-50">
              <span class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute" aria-hidden="true"></span>
                <span i18n="benefits_component - benefit title@@snvH4Uh"
                  >Scalability</span
                >
              </span>
            </h3>
            <div class="flex justify-center">
              <p
                class="mt-2 text-sm text-gray-500 dark:text-gray-300 max-w-md"
                i18n="benefits_component - benefit text@@snvH5eO"
              >
                On our platform, you can process more job positions at the same
                time. Also, multiple HR specialists can work on the same
                interview at the same time.
              </p>
            </div>
          </div>
        </div>

        <div class="relative group bg-white dark:bg-gray-900 p-6">
          <div>
            <span
              class="rounded-lg inline-flex p-3 dark:bg-orange-600 bg-orange-400 text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z"
                />
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium text-gray-800 dark:text-gray-50">
              <span class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute" aria-hidden="true"></span>
                <span i18n="benefits_component - benefit title@@snvH6aK"
                  >Submit from anywhere</span
                >
              </span>
            </h3>
            <div class="flex justify-center">
              <p
                class="mt-2 text-sm text-gray-500 max-w-md"
                i18n="benefits_component - benefit text@@snvH6ru"
              >
                Candidate can handle the interview from anywhere and anywhen
                they want. No matter if you submit the interview from home or on
                the train, no matter if you decide to use smartphone or laptop,
                eveerything will be working as expected.
              </p>
            </div>
          </div>
        </div>

        <div class="relative group bg-white dark:bg-gray-900 p-6">
          <div>
            <span
              class="rounded-lg inline-flex p-3 dark:bg-orange-500 bg-orange-300 text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"
                />
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium text-gray-800 dark:text-gray-50">
              <span class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute" aria-hidden="true"></span>
                <span i18n="benefits_component - benefit title@@snvH7hC"
                  >"Just" a tool</span
                >
              </span>
            </h3>
            <div class="flex justify-center">
              <p
                class="mt-2 text-sm text-gray-500 max-w-md"
                i18n="benefits_component - benefit text@@snvH7Cd"
              >
                Let a technology analyse the content and you decide based on
                your human feelings. We are not trying to replace your human
                resources sector, we are trying to help them!
              </p>
            </div>
          </div>
        </div>

        <div class="relative group bg-white dark:bg-gray-900 p-6">
          <div>
            <span
              class="rounded-lg inline-flex p-3 dark:bg-orange-600 bg-orange-400 text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z"
                />
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium text-gray-800 dark:text-gray-50">
              <span class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute" aria-hidden="true"></span>
                <span i18n="benefits_component - benefit title@@snvH8He"
                  >Follow the technology</span
                >
              </span>
            </h3>
            <div class="flex justify-center">
              <p
                class="mt-2 text-sm text-gray-500 max-w-md"
                i18n="benefits_component - benefit text@@snvH96i"
              >
                Today's candidates are familiar with modern technologies and
                they will appreciate compaines that take advanged of the
                technology.
              </p>
            </div>
          </div>
        </div>

        <div class="relative group bg-white dark:bg-gray-900 p-6">
          <div>
            <span
              class="rounded-lg inline-flex p-3 dark:bg-orange-500 bg-orange-300 text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                />
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium text-gray-800 dark:text-gray-50">
              <span class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute" aria-hidden="true"></span>
                <span i18n="benefits_component - benefit title@@snvH9Kx"
                  >Reduce the fluctuation</span
                >
              </span>
            </h3>
            <div class="flex justify-center">
              <p
                class="mt-2 text-sm text-gray-500 max-w-md"
                i18n="benefits_component - benefit text@@snvHa0Y"
              >
                Our platform can provide enough information for you to make sure
                the candidate understands a language on the level you require
                him. Also, you can test some of our example scenarios to see if
                the candidate can respond as you expect him to.
              </p>
            </div>
          </div>
        </div>

        <div class="relative group bg-white dark:bg-gray-900 p-6">
          <div>
            <span
              class="rounded-lg inline-flex p-3 dark:bg-orange-600 bg-orange-400 text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"
                />
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-medium text-gray-800 dark:text-gray-50">
              <span class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute" aria-hidden="true"></span>
                <span i18n="benefits_component - benefit title@@snvHaK1">
                  Video CV</span
                >
              </span>
            </h3>
            <div class="flex justify-center">
              <p
                class="mt-2 text-sm text-gray-500 max-w-md"
                i18n="benefits_component - benefit text@@snvHbi0"
              >
                You can offer the candidates a video interview for submiting the
                interview results by exporting it from our platform. This may
                help you get interest from more candidates as they get a reward
                even if they won't get hired.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
