<div class="text-bubble" style="position: relative; z-index: 1">
  <div class="text-bubble-progress bg-theme-transparent"></div>
  <div
    class="text-bubble-progress bg-theme"
    [ngStyle]="{ width: assistent.emojiTimerPerc + '%' }"
  ></div>
  <h3 *ngIf="title" style="width: calc(100% - 30px)">
    {{ title === 'NULL' ? '' : title }}
  </h3>
  <div class="text-bubble-arrow pc-only"></div>

  <div
    (click)="onSkip()"
    style="
      float: right;
      margin-right: -35px;
      z-index: 99;
      margin-top: -10px;
      font-size: 24px;
    "
  >
    <div
      class="btn btn-small bg-theme"
      style="cursor: pointer !important; color: white"
    >
      SKIP <i class="fa fa-forward"></i>
    </div>
  </div>

  <div
    class="mobile-only text-bubble-progress-bottom bg-theme-transparent"
  ></div>
  <div
    class="mobile-only text-bubble-progress-bottom bg-theme"
    [ngStyle]="{ width: assistent.emojiTimerPerc + '%' }"
  ></div>
</div>

<img
  *ngIf="assistent.getEmojiSrc()"
  [src]="assistent.getEmojiSrc()"
  alt="Emoji"
/>
