<app-assistent [title]="step.data.title"></app-assistent>

<br />

<img
  *ngIf="int.randomData.imgSrc"
  [src]="int.randomData.imgSrc"
  alt="Image Of Question"
  style="max-width: 100%; margin-top: 15px; margin-bottom: 15px"
/>

<p *ngIf="step.data.text">
  {{ step.data.text }}
</p>

<a
  *ngIf="step.data.terms.text && step.data.terms.url"
  [href]="step.data.terms.url"
  class="text-primary"
  target="_blank"
>
  {{ step.data.terms.text }}
</a>

<br />
<br />

<div class="row">
  <div class="col-md-6 offset-md-3">
    <p style="width: 100%; text-align: center">
      <b> {{ 'interview.speakAnswer.statusBox' | translate }}: </b>
    </p>
    <div
      style="
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: white;
      "
      [ngClass]="
        int.interviewState === InterviewState.ANSWER_SPEAK_STEP2
          ? ['bg-theme']
          : ['mic-preview']
      "
    >
      <span *ngIf="int.interviewState === InterviewState.ANSWER_SPEAK_STEP1">
        {{
          'interview.answers.speakAnswer.notRecordingYet'
            | translate
            | uppercase
        }}
      </span>

      <span *ngIf="int.interviewState === InterviewState.ANSWER_SPEAK_STEP2">
        {{
          'interview.answers.speakAnswer.recordingNow' | translate | uppercase
        }}
      </span>
    </div>
  </div>
</div>

<br />

<div *ngIf="int.interviewState === InterviewState.ANSWER_SPEAK_STEP1">
  <h3>
    {{ 'interview.answers.timeLeft' | translate }}:
    {{
      'interview.answers.time' | translate: { time: int.randomData.timeLeft }
    }}
    ({{ 'interview.answers.paused' | translate }})
  </h3>
</div>

<div *ngIf="int.interviewState === InterviewState.ANSWER_SPEAK_STEP2">
  <h3>
    {{ 'interview.answers.timeLeft' | translate }}:
    {{
      'interview.answers.time' | translate: { time: int.randomData.timeLeft }
    }}
  </h3>
</div>

<div class="comment-box">
  <p><i class="fas fa-comments"></i> {{ int.randomData.currentQuestion }}</p>
  <br />

  <app-mic *ngIf="int.interviewType === InterviewType.MIC"></app-mic>
  <div *ngIf="int.interviewType === InterviewType.CAM" [id]="id">
    <p>{{ 'hardwareTestPage.modal.loading' | translate }} ...</p>
  </div>
</div>

<br />
