<section id="thank-you" class="thank-you-section">
  <div class="container thank-you-container">
    <div class="thank-you-wrapper position-relative thank-wrapper-style-two">
      <!-- <div class="thank-you-close text-center">x</div> -->
      <div class="thank-txt text-center">
        <div class="text-area-thank">
          <div class="thank-icon">
            <img src="/assets/popup/img/errimg.png" alt="" />
          </div>

          <h1>{{ 'errorPage.title' | translate }}</h1>
          <p>{{ 'errorPage.subtitle' | translate }}</p>
        </div>
      </div>
      <div class="thank-txt-part2">
        <a class="d-block">{{ 'errorPage.points.one' | translate }}</a>
        <a class="d-block">{{ 'errorPage.points.two' | translate }}</a>
        <a class="d-block">{{ 'errorPage.points.three' | translate }}</a>
        <a class="d-block">{{ 'errorPage.points.four' | translate }}</a>

        <p>
          {{ 'errorPage.description' | translate }}
        </p>
        <!-- <div
          (click)="onCloseWindow()"
          class="okey-btn text-uppercase text-center"
          style="color: white; cursor: pointer;"
        >
          Close Window
        </div> -->
      </div>
    </div>
  </div>
</section>
