<app-assistent [title]="step.data.title"></app-assistent>

<br />

<p *ngIf="step.data.text">
  {{ step.data.text }}
</p>

<form
  (submit)="onSubmit($event)"
  #form
  [attr.id]="step.id ? step.id : undefined"
>
  <div class="form-inner-area" *ngIf="step.data.inputs">
    <input
      style="margin-top: 30px;"
      class="form-control"
      *ngFor="let input of step.data.inputs"
      (change)="onInputChange($event, input.onChange)"
      [ngClass]="[input.required ? 'required' : undefined]"
      [attr.type]="input.type ? input.type : undefined"
      [attr.name]="input.id ? input.id : undefined"
      [attr.id]="input.id ? step.id + '_' + input.id : undefined"
      [attr.selected]="input.selected ? '' : undefined"
      [attr.minlength]="input.minLength ? input.minLength : undefined"
      [attr.maxLength]="input.maxLength ? input.maxLength : undefined"
      [attr.placeholder]="input.placeholder ? input.placeholder : undefined"
      [attr.value]="input.value ? input.value : undefined"
      [attr.required]="input.required ? '' : undefined"
      [attr.email]="input.validateType === validateTypes.EMAIL ? '' : undefined"
      [attr.data-rule-phonenumber]="
        input.validateType === validateTypes.PHONE_NUMBER ? '' : undefined
      "
    />
  </div>
</form>

<a
  *ngIf="step.data.terms.text && step.data.terms.url"
  [href]="step.data.terms.url"
  class="text-primary"
  target="_blank"
>
  {{ step.data.terms.text }}
</a>
