<!--Blog Start-->
<section class="bg-light" id="pricing">
  <div class="container">
    <!--Row-->
    <div class="row" id="blog-n1-aos-anchor">
      <div class="col-md-12 text-center">
        <div class="heading-area mx-570 pb-lg-5 mb-5">
          <span
            data-aos-anchor="#blog-n1-aos-anchor"
            data-aos="fade-up"
            class="sub-title"
            >{{ 'blog.preTitle' | translate }}</span
          >
          <h2
            data-aos-anchor="#blog-n1-aos-anchor"
            data-aos="fade-up"
            data-aos-delay="400"
            class="title mb-0"
          >
            {{ 'blog.title.before' | translate }}
            <span class="alt-color js-rotating">{{
              'blog.title.words' | translate
            }}</span>
            {{ 'blog.title.after' | translate }}
          </h2>
        </div>
      </div>
    </div>
    <!--Row-->
    <div class="row">
      <!--News Item-->
      <div
        class="col-lg-4"
        *ngFor="let plan of data.plans; let i = index"
        [attr.data-aos]="i % 2 == 0 ? 'flip-left' : 'flip-right'"
      >
        <div class="news-item">
          <div class="news-text-box">
            <div
              class="date main-color text-center"
              [ngStyle]="{ color: plan.color }"
              style="text-align: center"
            >
              {{ plan.title }}
            </div>
            <a
              href=""
              style="
                display: flex;
                align-items: flex-end;
                flex-direction: row;
                justify-content: center;
              "
            >
              <h4
                class="news-title"
                style="font-size: 64px; display: flex; align-items: flex-start"
              >
                <h6 class="news-title" style="margin-right: 5px">
                  {{ plan.currency }}
                </h6>
                {{ plan.price }}
              </h4>
              <h6 class="news-title">/ {{ 'blog.lifetime' | translate }}</h6>
            </a>
            <hr />
            <p class="para" style="font-weight: bold">
              <i [ngStyle]="{ color: plan.color }" class="fa fa-circle"></i>
              {{ plan.pricePerMinute }}{{ plan.currency }}
              {{ 'blog.perMinutePrice' | translate }}
            </p>
            <hr />
            <small> Included Features: </small>
            <p class="para" *ngFor="let item of plan.points">
              <i [ngStyle]="{ color: plan.color }" class="fa fa-check"></i>
              {{ item }}
            </p>
            <hr />
            <small> Not Included Features: </small>
            <p class="para" *ngFor="let item of plan.pointsNo">
              <i *ngIf="!item" style="color: white" class="fa fa-times"></i>
              <i *ngIf="item" class="fa fa-times"></i>
              {{ item }}
            </p>
            <hr />
            <small> Included Analysis: </small>
            <p class="para" *ngFor="let item of plan.pointsAnalysis">
              <i [ngStyle]="{ color: plan.color }" class="fa fa-check"></i>
              {{ item }}
            </p>
            <hr />
            <small> Not Included Analysis: </small>
            <p class="para" *ngFor="let item of plan.pointsAnalysisNo">
              <i *ngIf="!item" style="color: white" class="fa fa-times"></i>
              <i *ngIf="item" class="fa fa-times"></i>
              {{ item }}
            </p>
            <hr />
            <small> Plan Account Limits: </small>
            <p class="para" *ngFor="let item of plan.pointsLimits">
              <i [ngStyle]="{ color: plan.color }" class="fa fa-check"></i>
              <span [innerHTML]="item"></span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-12 mt-4" style="text-align: center">
        <p>
          {{ 'blog.pricingAfterNore' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
<!--Blog End-->
