<div class="padding">
  <div class="page-title">
    <h2 class="text-md text-highlight">File Manager - Folders</h2>
    <small class="text-muted">Select the folder to manage files</small>
  </div>

  <br /><br /><br />

  <div class="row">
    <div class="col-md-4 d-flex" *ngFor="let f of folders">
      <div
        class="card flex"
        data-sr-id="10"
        style="visibility: visible; transform: none; opacity: 1; transition: none 0s ease 0s;"
      >
        <div class="card-body">
          <div
            class="d-flex align-items-center"
            [ngClass]="['text-hover-' + f.color]"
          >
            <div
              class="avatar w-56 m-2 no-shadow"
              [ngClass]="['gd-' + f.color]"
            >
              <div [innerHTML]="f.icon"></div>
            </div>
            <div class="px-4 flex">
              <div>{{ f.title }}</div>
              <div class="mt-2" [ngClass]="['text-' + f.color]">
                {{ f.description }}
              </div>
            </div>
            <a
              class="text-muted tooltip-white"
              [routerLink]="f.url"
              [attr.aria-label]="f.tooltip"
              data-balloon-pos="up"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-arrow-right"
              >
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
