<div class="relative bg-gray-800">
  <div class="hidden sm:block sm:absolute sm:" aria-hidden="true">
    <svg
      class="absolute bottom-0 right-0 transform translate-x-1/2 mb-48 text-gray-700 lg:top-0 lg:mt-28 lg:mb-0 xl:transform-none xl:translate-x-0"
      width="364"
      height="384"
      viewBox="0 0 364 384"
      fill="none"
    >
      <defs>
        <pattern
          id="eab71dd9-9d7a-47bd-8044-256344ee00d0"
          x="0"
          y="0"
          width="20"
          height="20"
          patternUnits="userSpaceOnUse"
        >
          <rect x="0" y="0" width="4" height="4" fill="currentColor" />
        </pattern>
      </defs>
      <rect
        width="364"
        height="384"
        fill="url(#eab71dd9-9d7a-47bd-8044-256344ee00d0)"
      />
    </svg>
  </div>
  <div class="relative pt-6 pb-16 sm:pb-24">
    <nav
      class="relative max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6"
      aria-label="Global"
    >
      <div class="flex items-center flex-1">
        <div class="flex items-center justify-between w-full md:w-auto">
          <a href="javascript:void(0);">
            <span
              class="sr-only"
              i18n="menu_component - screen reader logo text@@snvDAER"
              >Workflow</span
            >
            <img
              class="h-8 w-auto sm:h-10"
              src="/assets/logo-light.svg"
              alt=""
            />
          </a>
          <div class="-mr-2 flex items-center md:hidden">
            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="relative inline-block text-left z-10 mr-3">
              <div>
                <button
                  (click)="toggleLang()"
                  type="button"
                  class="inline-flex justify-center w-full rounded-md shadow-sm px-4 py-2 bg-white text-sm font-medium text-orange-700 focus:outline-none items-center"
                  id="options-menu"
                  aria-haspopup="true"
                  aria-expanded="true"
                >
                  <img
                    [src]="'/assets/flags/' + currentLang.name + '.svg'"
                    class="h-6 mr-3 rounded-sm"
                    alt=""
                  />

                  {{ currentLang.fullName }}
                  <!-- Heroicon name: solid/chevron-down -->
                  <svg
                    class="-mr-1 ml-2 h-5 w-5"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </button>
              </div>
              <div
                *ngIf="isLangOpenedAnimation"
                [ngClass]="
                  isLangOpened
                    ? ['scale-100', 'opacity-100']
                    : ['opacity-0', 'scale-95']
                "
                class="transform transition ease-out duration-100 origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="options-menu"
              >
                <div class="py-1">
                  <a
                    *ngFor="let lang of langs"
                    [href]="'/' + lang.name"
                    class="group flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                    role="menuitem"
                  >
                    <!-- Heroicon name: solid/pencil-alt -->
                    <img
                      [src]="'/assets/flags/' + lang.name + '.svg'"
                      class="h-4 mr-3"
                      alt=""
                    />
                    {{ lang.fullName }}
                  </a>
                </div>
              </div>
            </div>

            <button
              (click)="onOpenMobile()"
              type="button"
              class="bg-gray-800 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-700 focus:outline-none"
              id="main-menu"
              aria-haspopup="true"
            >
              <span
                class="sr-only"
                i18n="menu_component - screen reader menu icon text@@snvDDMa"
                >Open main menu</span
              >
              <!-- Heroicon name: menu -->
              <svg
                class="h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </button>
          </div>
        </div>
        <div class="hidden space-x-10 md:flex md:ml-10">
          <a
            i18n="menu_component - menu item@@snvDI6x"
            href="javascript:void(0);"
            (click)="scrollTo('page-features')"
            class="font-medium text-white hover:text-gray-300"
            >Features</a
          >

          <a
            i18n="menu_component - menu item@@snvDKbE"
            href="javascript:void(0);"
            (click)="scrollTo('page-benefits')"
            class="font-medium text-white hover:text-gray-300"
            >Benefits</a
          >

          <a
            i18n="menu_component - menu item@@snvDKsl"
            href="javascript:void(0);"
            (click)="scrollTo('page-contact')"
            class="font-medium text-white hover:text-gray-300"
            >Contact</a
          >
        </div>
      </div>
      <div class="hidden md:flex">
        <!-- This example requires Tailwind CSS v2.0+ -->
        <div class="relative inline-block text-left z-10 mr-3">
          <div>
            <button
              (click)="toggleLang()"
              type="button"
              class="inline-flex justify-center w-full rounded-md shadow-sm px-4 py-2 bg-white text-sm font-medium text-orange-700 focus:outline-none items-center"
              id="options-menu"
              aria-haspopup="true"
              aria-expanded="true"
            >
              <img
                [src]="'/assets/flags/' + currentLang.name + '.svg'"
                class="h-6 mr-3 rounded-sm"
                alt=""
              />

              {{ currentLang.fullName }}
              <!-- Heroicon name: solid/chevron-down -->
              <svg
                class="-mr-1 ml-2 h-5 w-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
          <div
            *ngIf="isLangOpenedAnimation"
            [ngClass]="
              isLangOpened
                ? ['scale-100', 'opacity-100']
                : ['opacity-0', 'scale-95']
            "
            class="transform transition ease-out duration-100 origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="options-menu"
          >
            <div class="py-1">
              <a
                *ngFor="let lang of langs"
                [href]="'/' + lang.name"
                class="group flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                role="menuitem"
              >
                <!-- Heroicon name: solid/pencil-alt -->
                <img
                  [src]="'/assets/flags/' + lang.name + '.svg'"
                  class="h-4 mr-3"
                  alt=""
                />
                {{ lang.fullName }}
              </a>
            </div>
          </div>
        </div>

        <a
          i18n="menu_component - menu right button@@snvDNiH"
          href="javascript:void(0);"
          (click)="onFocusForm()"
          class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-orange-500 hover:bg-orange-600"
        >
          Get a quote
        </a>
      </div>
    </nav>

    <!--
        Mobile menu, show/hide based on menu open state.
  
        Entering: "duration-150 ease-out"
          From: "opacity-0 scale-95"
          To: "opacity-100 scale-100"
        Leaving: "duration-100 ease-in"
          From: "opacity-100 scale-100"
          To: "opacity-0 scale-95"
      -->

    <div
      [ngClass]="
        mobileMenuOpened
          ? ['opacity-100', 'scale-100', 'visible']
          : [
              'opacity-0',
              'scale-95',
              mobileMenuAnimFinished ? 'invisible' : 'visible'
            ]
      "
      class="duration-100 ease-in absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden"
    >
      <div
        class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden"
      >
        <div class="px-5 pt-4 flex items-center justify-between">
          <div>
            <img
              class="h-8 w-auto sm:h-10"
              src="/assets/logo-dark.svg"
              alt=""
            />
          </div>
          <div class="-mr-2">
            <button
              (click)="onCloseMobile()"
              type="button"
              class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-100 focus:outline-none"
            >
              <span
                class="sr-only"
                i18n="
                  menu_component - screen reader close menu icon text@@snvDTOC"
                >Close menu</span
              >
              <!-- Heroicon name: x -->
              <svg
                class="h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
        </div>
        <div
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="main-menu"
        >
          <div class="px-2 pt-2 pb-3 space-y-1" role="none">
            <a
              i18n="menu_component - menu item@@snvDI6x"
              (click)="scrollToMobile('page-features')"
              href="javascript:void(0);"
              class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
              role="menuitem"
              >Features</a
            >

            <a
              i18n="menu_component - menu item@@snvDKbE"
              (click)="scrollToMobile('page-benefits')"
              href="javascript:void(0);"
              class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
              role="menuitem"
              >Benefits</a
            >

            <a
              i18n="menu_component - menu item@@snvDKsl"
              (click)="scrollToMobile('page-contact')"
              href="javascript:void(0);"
              class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
              role="menuitem"
              >Contact</a
            >
          </div>
          <div role="none">
            <a
              i18n="menu_component - menu right button@@snvDNiH"
              (click)="onFocusFormExternalMobile()"
              href="javascript:void(0);"
              class="block w-full px-5 py-3 text-center font-medium text-orange-600 bg-gray-50 hover:bg-gray-100"
              role="menuitem"
            >
              Get a quote
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
