<app-assistent [title]="title"></app-assistent>

<br />

<p *ngIf="step.data.text" [innerHTML]="step.data.text"></p>

<a
  *ngIf="step.data.terms.text && step.data.terms.url"
  [href]="step.data.terms.url"
  class="text-primary"
  target="_blank"
>
  {{ step.data.terms.text }}
</a>

<div
  *ngIf="
    int.interviewState === InterviewState.QUESTION_MP4_STEP1 ||
    int.interviewState === InterviewState.QUESTION_MP4_STEP2
  "
>
  <span
    style="padding: 10px; text-align: center; cursor: pointer; width: 100%;"
    *ngIf="showPlayText"
    class="text-theme"
    (click)="onClickToPlay()"
  >
    Video did not start? Click here please!
  </span>

  <video [id]="id" playsinline controls webkit-playsinline>
    <source [src]="int.randomData.src" type="video/mp4" />

    {{ 'error.noAudioSupport' | translate }}
  </video>
</div>
