<!--Services Start-->
<section id="services">
  <div class="container" id="service-aos-anchor">
    <div class="row">
      <div
        class="col-md-3"
        data-aos-anchor="#service-aos-anchor"
        data-aos="flip-left"
      >
        <div class="process-wrapp" style="position: relative;">
          <span class="pro-step blue"
            >1</span>
          <h4 class="service-heading">
            {{ 'service.steps.step1' | translate }}
          </h4>
          <i style="font-size: 20px; position: absolute; right: -20px; top: 35px;" class="d-none d-lg-block fa fa-arrow-right"></i>
        </div>
      </div>
      <div
        class="col-md-3"
        data-aos-anchor="#service-aos-anchor"
        data-aos="flip-right"
        data-aos-delay="400"
      >
        <div class="process-wrapp"    style="position: relative;">
          <span class="pro-step midnight"
          >2</span>
          <h4 class="service-heading">
            {{ 'service.steps.step2' | translate }}
          </h4>


        <i style="font-size: 20px; position: absolute; right: -20px; top: 35px;" class="d-none d-lg-block fa fa-arrow-right"></i>
        </div>

      </div>
      <div
        class="col-md-3"
        data-aos-anchor="#service-aos-anchor"
        data-aos="flip-left"
        data-aos-delay="800"
      >
        <div class="process-wrapp" style="position: relative">
          <span class="pro-step purple"
            >3</span>
          <h4 class="service-heading">
            {{ 'service.steps.step3' | translate }}
          </h4>
          <i style="font-size: 20px; position: absolute; right: -20px; top: 35px;" class="d-none d-lg-block fa fa-arrow-right"></i>

        </div>
      </div>
      <div
        class="col-md-3"
        data-aos-anchor="#service-aos-anchor"
        data-aos="flip-right"
        data-aos-delay="1200"
      >
        <div class="process-wrapp">
          <span class="pro-step pink"
            >4</span>
          <h4 class="service-heading">
            {{ 'service.steps.step4' | translate }}
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Services End-->
