.posCenter {
  margin-left: 0;
  margin-top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.centerWrapper {
  text-align: center;
  padding: 4rem !important;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
