<div class="posCenter container-fluid">
  <div class="row" style="width: 100%;">
    <div class="centerWrapper block d-inline-flex col-md-4 offset-md-4">
      <div class="row" style="width: 100%;">
        <div class="col-md-6 b-r hrset">
          <span class="h1">HR</span>
          <div class="text-muted">Regular HR person</div>
          <div class="py-4">
            <a
              class="btn btn-sm btn-rounded btn-success"
              [routerLink]="['hr-login']"
              >Continue as HR</a
            >
          </div>
        </div>
        <div class="col-md-6 htset">
          <span class="h1">Company </span>
          <div class="text-muted">Company owner</div>
          <div class="py-4">
            <a
              class="btn btn-sm btn-rounded btn-primary"
              [routerLink]="['company-login']"
              >Continue as Company</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
