<table
  id="datatable"
  class="table table-theme table-row v-middle dataTable no-footer"
  role="grid"
  aria-describedby="datatable_info"
>
  <thead>
    <tr role="row">
      <th
        class="sorting_disabled"
        tabindex="0"
        rowspan="1"
        colspan="1"
        style="width: 26px;"
      >
        <input
          [checked]="results.allSelected"
          (click)="results.selectAllCandidates($event)"
          style="margin: 0; padding: 0; margin-top: -5px;"
          class="form-check-input"
          type="checkbox"
          value=""
        />
      </th>
      <th
        class="sorting_disabled"
        tabindex="0"
        rowspan="1"
        colspan="1"
        style="width: 150px;"
      >
        <span class="text-muted">ID</span>
      </th>
      <th
        class="sorting_disabled"
        tabindex="0"
        rowspan="1"
        colspan="1"
        style="width: 150px;"
      >
        <span class="text-muted">Name</span>
      </th>
      <th
        class="sorting_disabled"
        tabindex="0"
        rowspan="1"
        colspan="1"
        style="width: auto;"
      >
        <span class="text-muted">Email</span>
      </th>

      <th
        class="sorting_disabled"
        rowspan="1"
        colspan="1"
        aria-label="Finish"
        style="width: 30px;"
      >
        <span class="text-muted d-sm-block"></span>
      </th>

      <th
        class="sorting_disabled"
        tabindex="0"
        rowspan="1"
        colspan="1"
        style="width: 280px;"
      >
        <span class="text-muted"
          >Medals <br />({{ results.getCurrentOrder() }})</span
        >
      </th>
      <th
        class="sorting_disabled"
        rowspan="1"
        colspan="1"
        aria-label="Finish"
        style="width: 30px;"
      >
        <span class="text-muted d-sm-block"></span>
      </th>
    </tr>
  </thead>
  <tbody class="table">
    <tr class="odd" data-id="1" role="row" *ngFor="let can of candidates">
      <td class="sorting_2">
        <input
          [checked]="results.selectedCans.includes(can.id)"
          (click)="results.selectCandidate($event, can.id)"
          style="margin: 0; padding: 0; margin-top: -5px;"
          class="form-check-input"
          type="checkbox"
          value=""
        />
      </td>
      <td class="sorting_2">
        <span
          class="pointer item-amount d-sm-block text-sm"
          (click)="results.orderBy(resultTypes.ID)"
          >{{ can.id }}</span
        >
      </td>
      <td class="sorting_2">
        <span class="item-amount d-sm-block text-sm white">{{ can.name }}</span>
      </td>
      <td class="sorting_2">
        <span class="item-amount d-sm-block text-sm">{{ can.email }}</span>
      </td>

      <td class="sorting_2">
        <span class="item-amount d-sm-block text-sm">
          <svg
            style="cursor: pointer;"
            (click)="openMedalHelp()"
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-help-circle"
          >
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
            <line x1="12" y1="17" x2="12.01" y2="17"></line>
          </svg>
        </span>
      </td>
      <td class="sorting_2">
        <span
          class="item-amount d-sm-block text-sm"
          style="
            font-size: 18px;
            display: flex !important;
            justify-content: space-between;
          "
        >
          <div
            (click)="results.orderBy(resultTypes.TOTAL)"
            class="pointer badge badge-green"
            style="padding: 5px; margin-right: 10px;"
          >
            <span style="color: white;">{{ results.getTotalPoints(can) }}</span>
          </div>

          <div
            (click)="results.orderBy(resultTypes.GOLD)"
            class="pointer badge badge-gold"
            style="padding: 5px;"
          >
            <span style="color: black;">{{
              results.getTotalMedals(can, 'gold')
            }}</span>
          </div>

          <div
            (click)="results.orderBy(resultTypes.SILVER)"
            class="pointer badge badge-silver"
            style="padding: 5px;"
          >
            <span style="color: black;">{{
              results.getTotalMedals(can, 'silver')
            }}</span>
          </div>

          <div
            (click)="results.orderBy(resultTypes.BRONZE)"
            class="pointer badge badge-bronze"
            style="padding: 5px;"
          >
            <span style="color: white;">{{
              results.getTotalMedals(can, 'bronze')
            }}</span>
          </div>

          <div
            (click)="results.orderBy(resultTypes.BLUE)"
            class="pointer badge badge-total"
            style="padding: 5px;"
          >
            <span style="color: white;">{{
              results.getTotalMedals(can, 'blue')
            }}</span>
          </div>
        </span>
      </td>
      <td class="sorting_2">
        <svg
          *ngIf="can.answersData"
          (click)="openSpecificCandidate(can, can.id)"
          style="cursor: pointer;"
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#448bff"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          strokecolor="white"
          class="feather feather-chevrons-right mx-2"
        >
          <polyline points="13 17 18 12 13 7"></polyline>
          <polyline points="6 17 11 12 6 7"></polyline>
        </svg>
      </td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-md-3">
    <button
      (click)="goToCompare()"
      [disabled]="results.selectedCans.length <= 1"
      type="button"
      class="btn btn-primary btn-block"
    >
      Compare Selected
    </button>
  </div>
  <div class="col-md-3 offset-md-6">
    <button
      (click)="onStartSlideshow()"
      type="button"
      class="btn btn-success btn-block"
    >
      Start Slideshow
    </button>
  </div>
</div>
